#about{
    width: 100vw;
    white-space: normal;
    margin-left: 20%;

    #bioContainer{
        width: 50%;
        float: left;
        padding: 20px;
        height: auto;

        #bio{
            position: absolute;
            top: 10%;
            img{
                height: 40vh;
                object-fit: cover;
                width: 25%;
            }
            ul{
                margin-top: 20px;
            }
        }
    }

    #cv{
        width: 50%;
        float: left;
        padding: 20px;
        height: auto;        
        ul{
            position: absolute;
            width: 80%;
            bottom: 5%;
            //left: 10%;
        }
        
    }
}

body.mobile #about{
    position: relative;
    margin: 0;
    padding: 0 10px;
    white-space: unset;
    width: 100%;
    height: auto;
    clear:both;

    margin-top: 20vh;
    margin-bottom: 20vh;

    #bioContainer{
        position: inherit;

        width: 50%;
        float: left;
        padding: 0;
        //padding-top: 10vh;
        height: 100%;

        #bio{
            position: inherit;
            float: none;
            img{
                height: auto;
                object-fit: cover;
                width: 90%;
                //float: left;
            }
        }
    }
    #cv{
        position: inherit;
        width: 50%;
        height: 100%;
        float: left;
        padding: 0;
        padding-top: 20vh;
        ul{
            width: 100%;
            position: inherit;
            bottom: unset;
            left: unset;
        }
    }

}