#about{
    width: 100vw;
    white-space: normal;
    margin-left: 20%;

    #bioContainer{
        width: 50%;
        float: left;
        padding: 20px;
        height: auto;

        #bio{
            position: absolute;
            top: 12%;
            img{
                height: 40vh;
                object-fit: cover;
                width: 25%;
            }
            ul{
                margin-top: 20px;
            }
        }
    }

    #cv{
        width: 50%;
        float: left;
        padding: 20px;
        height: auto;    
        
        overflow-wrap: break-word;
        word-wrap: break-word;
        hyphens: auto;
        
        ul{
            position: absolute;
            width: 80%;
            bottom: 5%;
        }
        
    }
}

body.mobile #about{
    position: relative;
    margin: 0;
    padding: 0 10px;
    white-space: unset;
    width: 100%;
    height: auto;
    clear:both;

    margin-top: 20vh;
    margin-bottom: 20vh;

    #bioContainer{
        position: inherit;

        width: 100%;
        padding: 0;
        height: auto;
        margin-left: 5%;

        #bio{
            position: inherit;
            float: none;
            img{
                height: auto;
                object-fit: cover;
                width: 75%;
            }
        }
    }
    #cv{
        position: inherit;
        width: 100%;
        height: auto;
        padding: 0;
        margin-left: 35%;
        margin-right: 5%;
        ul{
            width: 60%;
            position: inherit;
            bottom: unset;
            left: unset;
            li{
                h1{
                    text-align: right;
                }
                p{
                    text-align: right;
                }
            }
        }
    }
}