
.crayon{
    display: block;
    position: absolute;
    width: 40px;
    height: 40px;

    top: 10px;
    left: 10px;

    z-index: 1000;

    padding: 10px;
    border-radius: 5px;

    transition: 0.2s;
    cursor: crosshair;
}

body.non-touch .crayon:hover{
    background-color: $crayonBtn;
    transform: scale3d(1.1, 1.1, 1.1);
}

.activeCrayon{
    background-color: $crayonBtn;
}

body.non-touch .activeCrayon:hover{
    cursor: pointer;
}

#sketch{
    display: block;
    #paint{
        position: absolute;
        width: 100%;
        height: inherit;
    }
}

.hideCanvas{
    z-index: -10;
}

@media screen and (max-width: 1000px){
    .crayon{
        top: 20px;
        right: 20px;
    }
}

@media screen and (max-width: 600px){

    
    .crayon{
        display: none;
    }
    #sketch{
        display: none;
    }
}

