
#page.darkmode{

    body{
        background-color: $bg-dark;
        color: $text-color-dark;
    }

    .column img {
        -webkit-box-shadow: 0px 0px 10px 0px rgb(36, 36, 36);
        -moz-box-shadow: 0px 0px 10px 0px rgb(36, 36, 36);
        box-shadow: 0px 0px 10px 0px rgb(36, 36, 36);  
    }

    body.non-touch .column img:hover{
        -webkit-box-shadow: 0px 0px 6px 0px rgb(36, 36, 36);
        -moz-box-shadow: 0px 0px 6px 0px rgb(36, 36, 36);
        box-shadow: 0px 0px 6px 0px rgb(36, 36, 36); 
    }

    #content{
        background-color: $bg-dark;
        -webkit-box-shadow: 0px 0px 20px 0px rgb(36, 36, 36); 
        -moz-box-shadow: 0px 0px 20px 0px rgb(36, 36, 36); 
        box-shadow: 0px 0px 20px 0px rgb(36, 36, 36); 
    }

    #close_btn{
        //border: 2px solid $bg-ligth-btn;
        background-color: $bg-ligth-btn !important;
    }
    #exp_btn{
        background-color: $bg-ligth-btn !important;
    }

    #more_link{
        
        a{
            padding: 10px;
            //background-color: $text-color-dark;
            color: $bg-ligth !important;
            //border-radius: 20px;
            transition: all 0.2s;
            border: 2px solid $bg-ligth-btn;
        }
        
    }

    body.non-touch #more_link a:hover{
        
            color: $bg-dark !important;
            text-decoration: none;
        
    }

    a{
        color: $link-color-dark;
    }
    
    body.non-touch a:hover{
        color: $hover-link-color-dark;
        text-decoration: underline;
        -webkit-text-decoration-color: $hover-link-color-dark; /* Safari */  
          text-decoration-color: $hover-link-color-dark;
    }
}

#page.terribleMode{

    body{
        background-color: $bg-terrible;
        color: $text-color-terrible;
    }

    #content{
        background-color: $bg-terrible;
        -webkit-box-shadow: 0px 0px 20px 0px rgb(36, 36, 36); 
        -moz-box-shadow: 0px 0px 20px 0px rgb(36, 36, 36); 
        box-shadow: 0px 0px 20px 0px rgb(36, 36, 36); 
    }

    #close_btn{
        //border: 2px solid $bg-ligth-btn;
        background-color: $hover-link-color-terrible !important;
    }

    #more_link{
        
        a{
            padding: 10px;
            //background-color: $text-color-dark;
            color: $bg-ligth !important;
            //border-radius: 20px;
            transition: all 0.2s;
            border: 2px solid $bg-ligth-btn;
        }
        
    }

    body.non-touch #more_link a:hover{
        
            color: $bg-dark !important;
            text-decoration: none;
        
    }

    a{
        color: $link-color-dark;
    }
    
    body.non-touch a:hover{
        color: $hover-link-color-dark;
        text-decoration: underline;
        -webkit-text-decoration-color: $hover-link-color-dark; /* Safari */  
          text-decoration-color: $hover-link-color-dark;
    }
}
