
footer{
    width: 100vw;
    height: auto;
    //padding-bottom: 300px;
    //margin-top: 100px;
    //margin-bottom: 200px;
    z-index: 1;
    position: relative;

    #footerCont{
        max-width: 1600px;
        height: auto;
        margin: 0 auto;
        position: relative;
    }

    #info{
        top: 30px;
        left: 5vw;
        position: absolute;
        max-width: 47.5vw;
    }

    #more_work{
        top: 30px;
        right: 5vw;
        position: absolute;
        text-align: right;
        max-width: 47.5vw;
    }
    #footer_hr{
        position: absolute;
        width: 200px;
        margin-left: calc(50% - 100px);
        top:-100px;
    }

    padding-top: 30vh;
}


@media screen and (max-width: 600px) {
   
    footer{

        //padding-bottom: 150px;
        //transform: translateY(-150px);
        padding-top: 30vh;
        padding-bottom: 0;

        margin-top: 0px;
        margin-bottom: 0px;

        font-size: 1.3rem;

        width: 100%;
        z-index: 1;
        position: relative;
    
        #info{
            position: relative !important;
            left: 5vw;
            width: 70vw;
            #info_link{
                margin-top: 25px;
            }
        }
        ul{
            margin-bottom: 0;
            height: 50px;
            width: 100%;
            float: left;
            margin-left: 0px;
        }
    
        #footer_hr{
            top:-100px;
            width: 150px;
            margin-left: calc(50vw - 75px);
        }
    }
}   