#greeting{
    width: 80vw;
    padding-top: 45vh;
    #greeting_cont{
        #greeting_message{
            padding-left: 3vw;
            font-size: 3rem;
            #status_cont{
                width: 80%;
                max-width: 1200px;
            }   
            .status{
                display: inline-block;
                position: absolute;
                width: inherit;
                white-space: normal;
                transition: all 0.3s;
                pointer-events: all;
            }   
        }
    }
}

body.mobile #greeting{
    width: 100%;
    height: 80vh;
    padding-top: 30vh;
    float: none;
    #greeting_cont{
        #greeting_message{
            font-size: 2rem;
            //margin-top: 30vh;
            #status_cont{
                width: 80%;
                max-width: 600px;
            }   
            .status{
                display: inline-block;
                position: absolute;
                width: inherit;
                white-space: normal;
                transition: all 0.3s;
                pointer-events: all;
            }   
        }
    }
}

#status0{
    z-index: 1000;
}

.carusellOut{
    transform: translateY(-50px) !important;
    opacity: 0;
    pointer-events: none;
    cursor: default;
}

.carusellIn{
    transform: translateY(50px) !important;
    opacity: 0;
    pointer-events: none;
    cursor: default;
}


#hand-wave{
    position: relative;
    top: 0;
    transition: top ease 0.5s;
    display: inline-block;
}

#replayGreeting{
    position: relative;
    top: 0;
    display: inline-block;
    font-size: 1rem;
    opacity: 0.5;
    transition: ease 0.3s;
    cursor: copy;
}

body.non-touch #replayGreeting:hover{
    opacity: 1;
}