header{
    
    position: sticky;
    top: 10px;
    width: inherit;

    z-index: 100;
    transition: all 0.6s;

    .row {
        display: -ms-flexbox; 
        display: flex;
        -ms-flex-wrap: wrap; 
        flex-wrap: wrap;
    }
      
    .column {
        -ms-flex: 50%; 
        flex: 50%;
        max-width: 50%;
        margin-right: 0;
        padding-right: 0;
    }

    #logo{
        position: relative;
        text-align: right;
        clear: both;
        padding-bottom: 20px;
        cursor: pointer;

        //width: 300px;
        //background-color: red;

        p{
            font-weight: 600;
            font-size: 1.2rem;
            margin-bottom:10px;
            opacity: 0.8;
            transition: opacity 0.2s;
        }
        span{
            position: absolute;
            font-size: 0.8rem;
            opacity: 0;
            top: 45px;
            right: 0;
            content: "hi@hinken.no";
            transition: all 0.2s;
            pointer-events: none;
            z-index: 1000;
        }
    }
     
}

body.non-touch #logo:hover{
    p{
        opacity: 1;
    }
    span{
        opacity: 1;
        color: dimgray;
        top: 40px;
    }
}

footer{
    width: 100vw;
    height: 300px;
    z-index: 1;
    position: relative;
    //background-color: #e1e1e1;
    //padding: 100px 0;

    #info{
        top: 20px;
        left: 5vw;
        position: absolute;
    }

    #links{
        top: 20px;
        right: 5vw;
        position: absolute;
    }

    ul{
        //padding-top: 30px;
        //height: 100%;
        //width: 200px;
        float: right;
        margin-left: 50px;
    }

    hr{
        border: 0.5px solid rgb(230, 230, 230);
        width: 90vw;
        margin: 0 auto;
    }
}


/*
.hideFooter{
    opacity: 0;
    //transform: translateY(10px);
}*/

@media screen and (max-width: 600px) {
   
    footer{
        width: 100%;
        height: 300px;
        z-index: 1;
        position: relative;
        //background-color: #e1e1e1;
        //padding: 100px 0;
    
        #info{
            position: relative !important;
            left: 5vw;
            width: 50vw;
        }
    
        #links{
            position: relative !important;
            margin-top: 20px;
            left: 5vw;
            width: 50vw;
        }
    
        ul{
            //padding-top: 30px;
            margin-bottom: 0;
            height: 50px;
            width: 100%;
            float: left;
            margin-left: 0px;
        }
    
        hr{
            width: 95vw;
        }
    }
}   