* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

html{
    font-size: 16px;
    scroll-behavior: smooth;
}
  
body {
    margin: 0;
    font-family: $mono-font;
    color: $text-color-light;
    background-color: $bg-ligth;
    //padding: 10px;
    scrollbar-width: none;
    will-change: filter;
    overflow-x: hidden;
    max-width: 1600px;
    margin: 0 auto !important;

    transition: all 0.6s;
    opacity: 1;
}

body{
    max-width: 100%;
    overflow-x: hidden !important;
}

.body::-webkit-scrollbar {
    display: none !important;
}

#greeting::-webkit-scrollbar {
    display: none;
}


h1{
    font-size: 1.2rem;
    font-weight: 600;
    text-align: left;
    padding-top: 10px;
    margin-bottom: 10px;    
}

h2{
    font-size: 1rem;
    font-weight: 400;
    color: $text-color-light-fade;
    margin-bottom: 20px;
}

p{
    line-height: normal;
    font-size: 1rem;
    margin-top: 10px;
    margin-bottom: 10px;
}

a{
    text-decoration: none;
    color: $link-color-light;
    cursor: alias;
    transition: all 0.1s;
}


body.non-touch a:hover {
    color: $hover-link-color-light;
    text-decoration: underline;
    -webkit-text-decoration-color: $hover-link-color-light; /* Safari */  
      text-decoration-color: $hover-link-color-light;
}

ul{

    margin-top: 0px;
    margin-bottom: 40px;

    li{
        margin-top: 10px;
        margin-bottom: 10px;
    }
}


section{
    position: relative;
    margin: 0 auto;
    clear:both;
    transition: $snap-in;
}

#greeting{

    top: 0px;    
    //width: 100%;
    height: auto;
    white-space: nowrap;
    position: relative;
    overflow-x: scroll;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    

    .greeting_page{
        height: auto;
        padding: 40px !important;
        display: inline-block;
        zoom: 1;
        white-space:normal;
        vertical-align: text-top;
    }

    #intro{
        width: 100vw;
        p{
            font-size: 2.5rem;
            span{
                font-weight: bold;
            }
        }
    }

    #more{
        width: 50vw;
        img{
            height: 200px;
            position: relative;
            //left: 100px;
            padding: 20px;
            //-webkit-transform: scaleX(-1);
            //transform: scaleX(-1);
        }
    }
}


#hand-wave{
    position: relative;
    top: 0;
    transition: top ease 0.5s;
    display: inline-block;
}

body.non-touch #greeting:hover{
    #hand-wave{
        animation: shake 90ms ease;
        animation-iteration-count: 8; 
    }
}

@keyframes shake {
    0% { transform: rotate(10deg); }
    50% { transform: rotate(-10deg); }
    100% { transform: rotate(10deg); }
}

.row {
    display: -ms-flexbox; 
    display: flex;
    -ms-flex-wrap: wrap; 
    flex-wrap: wrap;
    padding: 0;
}
  
.column {
    -ms-flex: 50%; 
    flex: 50%;
    max-width: 50%;
    padding: 0;
}


@media screen and (max-width: 600px) {

    html{
        font-size: 12px;
    }

    section{
        padding: 10px !important;
    }

    #greeting{
        padding: 0 !important;
        .greeting_page{
            padding: 0;
        }

        #intro{
            p{
                font-size: 1.5rem;
            }
        }
        p{
            font-size: 1.5rem;
        }
    }

    h2{
        font-size: 1rem;
        font-weight: 400;
        color: $text-color-light-fade;
        margin-bottom: 10px;
    }

    ul{
        li{
            margin-top: 5px;
            margin-bottom: 5px;
        }
    }

    p{
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .column {
        -ms-flex: 100%; 
        flex: 100%;
        max-width: 100%;
        padding: 0 10px;
    }

}


.onLoadBody, .onLoadHeader, .onLoadGreeting, .onLoadPort{
	transition: $snap-in-fast;
    opacity: 0;
    transform: scale3d(0.95, 0.95, 0.95);
}
