* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

html{
    font-size: 16px;
    scroll-behavior: smooth;
    //overflow: hidden;
}
  
body {
    margin: 0;
    font-family: $body-font;
    color: $text-color-light;
    background-color: $bg-ligth;
    //padding: 10px;
    scrollbar-width: none;
    will-change: filter;
    overflow-x: hidden;
    max-width: 1600px;
    margin: 0 auto !important;

    transition: all 0.6s;
    opacity: 1;
}

.body::-webkit-scrollbar {
    display: none !important;
}

#greeting::-webkit-scrollbar {
    display: none;
}


h1{
    font-size: 1.2rem;
    font-weight: 600;
    text-align: left;
    padding-top: 10px;
    margin-bottom: 10px;    
}

h2{
    font-size: 1rem;
    font-weight: 400;
    color: $text-color-light-fade;
    margin-bottom: 20px;
}

p{
    line-height: normal;
    font-size: 1rem;
    margin-top: 10px;
    margin-bottom: 10px;
}

a{
    text-decoration: none;
    color: $link-color-light;
    cursor: ne-resize;
    transition: all 0.1s;
}


body.non-touch a:hover {
    color: $hover-link-color-light;
    text-decoration: underline;
    -webkit-text-decoration-color: $hover-link-color-light; /* Safari */  
      text-decoration-color: $hover-link-color-light;
}

ul{

    margin-top: 0px;
    margin-bottom: 40px;

    li{
        margin-top: 10px;
        margin-bottom: 10px;
    }
}


section{
    position: relative;
    margin: 0 auto;
    clear:both;
    transition: $snap-in;
}

#greeting{
    width: auto;
    white-space: nowrap;
    position: relative;
    overflow-x: scroll;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;

    background-color: #ededed;

    scroll-snap-type: x mandatory;

    //scroll-snap-points-x: repeat(50vw);
   
    .col{
        white-space : normal;
        //min-width: 400px;
        height: 50vh;
        float: none;
        display: inline-block;
        zoom: 1;
        //text-align: center;

        margin: 0 auto;

        //padding: 24px;

        scroll-snap-align: start;
        //padding-left: 3vw;

        //padding-left: 20px;
    }

    #hello{
        width: 100%;
        position: relative;
        //vertical-align: middle;
        p{
            width: 40%;
        }
        #scrollme{
            position: absolute;
            right: 10px;
            top: 10px;
        }
    }

    #aboutme{

        width: 40%;
        
        img{
            object-fit: cover;
            width: auto;
            max-height: 50%;
            //vertical-align: center;
            //border-radius: 15px;
            pointer-events: none;
            float: left;
        }

        ul{
            float: left;
            margin: 0;
            padding: 0;
            margin-left: 20px;
        }

        #life_wrapper{
            span{
                cursor: pointer;
            }
        }
    }

    #resume{
        width: 60%;
        scroll-snap-align: none;

        ul{
            li{
                width: 20%;
                margin: 0 3%;
                display: block;
                float: left;
            }
        }
    }

    #contact{
        width: 100%;
        scroll-snap-align: start;
    }
}

#hand-wave{
    position: relative;
    top: 0;
    transition: top ease 0.5s;
    display: inline-block;
}

body.non-touch #greeting:hover{
    #hand-wave{
        animation: shake 90ms ease;
        animation-iteration-count: 8; 
    }
}

@keyframes shake {
    0% { transform: rotate(10deg); }
    50% { transform: rotate(-10deg); }
    100% { transform: rotate(10deg); }
}

.section_header{
    font-size: 1.5rem;
    //margin-left: 5%;
    margin-bottom: 20px;
    width: 100%;
    //text-align: center;
    opacity: 0.7;
}


.row {
    display: -ms-flexbox; 
    display: flex;
    -ms-flex-wrap: wrap; 
    flex-wrap: wrap;
    padding: 0;
}
  
.column {
    -ms-flex: 50%; 
    flex: 50%;
    max-width: 50%;
    padding: 0;
}

#about_col{
    -ms-flex: 50%; 
    flex: 50%;
    max-width: 50%;
}

#cv_col{
    -ms-flex: 50%; 
    flex: 50%;
    max-width: 50%;
}


/*
#hero_graphic{
    position: absolute;
    top:-5vh;
    left:0;
    min-width: 100%;
    min-height: 100%;
    width: 1000px;
    height: auto;
    z-index: 0;

    transform: rotate(180deg);
}
*/

@media screen and (max-width: 1050px){
    #greeting{

        .col{
            height: 25vh;
        }

        #hello{
            p{
                width: 70%;
            }
            #scrollme{
                position: absolute;
                right: 5px;
                top: 5px;
            }
        }

        #aboutme{

            width: 100%;

            img{
                //max-height: 400px;
                width: auto;
                height: 50%;
            }
    
        }
    
        #resume{
            width: 100%;
            scroll-snap-align: start;
    
            ul{
                li{
                    width: 25%;
                }
            }
        }

    }
}

@media screen and (max-width: 600px) {

    html{
        font-size: 12px;
    }

    header, section{
        padding: 10px !important;
    }
    section{
        width: 100%;
        padding-bottom: 10vh !important;
    }

    h2{
        font-size: 1rem;
        font-weight: 400;
        color: $text-color-light-fade;
        margin-bottom: 10px;
    }

    ul{
        li{
            margin-top: 5px;
            margin-bottom: 5px;
        }
    }

    p{
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .column {
        -ms-flex: 100%; 
        flex: 100%;
        max-width: 100%;
        padding: 0 10px;
    }

    #greeting{

        .col{
            height: 30vh;
            
        }

        #aboutme{
            img{
                height: 50%;
            }
        }
    
        #resume{
            ul{
                li{
                    width: 100%;
                }
            }
        }

        #contact{
            ul{
                li{
                    margin: 10px;
                    margin-left: 0;
                }
            }
        }

    }
}


.onLoadBody, .onLoadHeader, .onLoadGreeting, .onLoadPort{
	transition: all 0.6s ease !important;
    opacity: 0;
    transform: translateY(20px);
}
