* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

html{
    font-size: 16px;
    scroll-behavior: smooth;
}
  
body {
    margin: 0;
    font-family: $mono-font;
    color: $text-color-light;
    background-color: $bg-ligth;
    //padding: 10px;
    scrollbar-width: none;
    will-change: filter;
    overflow-x: hidden;
    max-width: 1600px;
    margin: 0 auto !important;

    transition: all 0.6s;
    opacity: 1;
}

body{
    max-width: 100%;
    overflow-x: hidden !important;
}

.body::-webkit-scrollbar {
    display: none !important;
}

#greeting::-webkit-scrollbar {
    display: none;
}


h1{
    font-size: 1.2rem;
    font-weight: 600;
    text-align: left;
    padding-top: 10px;
    margin-bottom: 10px;    
}

h2{
    font-size: 1rem;
    font-weight: 400;
    color: $text-color-light-fade;
    margin-bottom: 20px;
}

p{
    line-height: normal;
    font-size: 1rem;
    margin-top: 10px;
    margin-bottom: 10px;
}

a{
    text-decoration: none;
    color: $link-color-light;
    cursor: alias;
    transition: all 0.1s;
}


body.non-touch a:hover {
    color: $hover-link-color-light;
    text-decoration: underline;
    -webkit-text-decoration-color: $hover-link-color-light; /* Safari */  
      text-decoration-color: $hover-link-color-light;
}

ul{

    margin-top: 0px;
    margin-bottom: 40px;

    li{
        margin-top: 10px;
        margin-bottom: 10px;
    }
}


section{
    position: relative;
    margin: 0 auto;
    clear:both;
    transition: $snap-in;
}

#greeting{

    position: relative;

    top: 0px;    
    //width: 100%;
    height: auto;
    white-space: nowrap;
    position: relative;
    overflow-x: scroll;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;

    scroll-snap-type: mandatory;
    scroll-snap-points-x: repeat(300px);
    scroll-snap-type: x mandatory;

    .greeting_page{
        height: auto;
        padding: 40px !important;
        display: inline-block;
        zoom: 1;
        font-size: 1rem;
        white-space:normal;
        vertical-align: text-top;

        vertical-align: middle;
        scroll-snap-align: start;
    }

    #greets{
        width: 100vw !important;
        font-size: 2rem;
        //font-weight: bold;

        scroller{
            font-size: 0.8rem;
            position: absolute;
            right: 40px;
            bottom: 30%;
            font-weight: normal;
            opacity: 0.5;
        }
    }

    #intro{
        width: 80vw !important;
        p{
            max-width: 500px;
            font-size: 1rem;
            span{
                font-weight: bold;
            }
        }
    }

    #me{
        width: 300px !important;
        img{
            padding: 20px;
            padding-right: 0;
            padding-top: 0;
            width: 100%;
            position: relative;
            -webkit-transform: scaleX(-1);
            transform: scaleX(-1);
        }
    }

    #bio{
        width: 60vw !important;
        scroll-snap-align: none;
    }

    #cv{
        width: 100vw !important;
        ul{
            li{
                float: left;
                max-width: 350px;
                margin-right: 40px;

                h1{
                    font-size: 1rem;
                }

                p{
                    font-size: 0.8rem;
                }
            }
        }
    }

    #contact{
        width: 60vw !important;
        ul{
            li{
                margin: 10px;
                margin-left: 0;
                font-size: 0.8rem;
            }
        }
    }

    /* - - - - - - */

    .progress-container {
        position: -webkit-sticky; /* Safari */
        position: sticky;
        top: 0;
        left: 0;
        width: 100%;
        height: 4px;
        background: $bg-ligth;
    }
    
    .progress-bar {
        height: 4px;
        background: rgb(230, 230, 230);
        width: 0%;
        transition: all 0.2s;
    }
}


#hand-wave{
    position: relative;
    top: 0;
    transition: top ease 0.5s;
    display: inline-block;
}

body.non-touch #greeting:hover{
    #hand-wave{
        animation: shake 90ms ease;
        animation-iteration-count: 8; 
    }
}

@keyframes shake {
    0% { transform: rotate(10deg); }
    50% { transform: rotate(-10deg); }
    100% { transform: rotate(10deg); }
}

.row {
    display: -ms-flexbox; 
    display: flex;
    -ms-flex-wrap: wrap; 
    flex-wrap: wrap;
    padding: 0;
}
  
.column {
    -ms-flex: 50%; 
    flex: 50%;
    max-width: 50%;
    padding: 0;
}

@media screen and (max-width: 1000px) {

    #greeting{

        .greeting_page{
            font-size: 1rem;
        }

        #intro{
            width: 100vw !important;
            p{
                font-size: 1rem;
            }
        }

        #greets{
            width: 100vw !important;
        }

        #me{
            width: 40vw !important;
            padding-top: 0 !important;
            img{
                padding: 0px;
                padding-top: 0;
                width: 100%;
                position: relative;
                float: left;
            }
        }
    
        #bio{
            width: 60vw !important;
            scroll-snap-align: none;
        }
    
        #cv{
            width: 100vw !important;
    
            ul{
                li{
                    float: none;
                }
            }
        }
    }

}


@media screen and (max-width: 600px) {

    html{
        font-size: 12px;
    }

    section{
        padding: 10px !important;
    }

    #greeting{
        padding: 0 !important;

        scroll-snap-points-x: none;
        
        .greeting_page{
            padding: 20px !important;
            font-size: 1.5rem;
            scroll-snap-align: none;
        }

        #greets{
            scroller{
                right: 20px;
            }
        }

        #me{
            width: 150px !important;
            img{
                //padding: 5px;
                width: 100%;
                position: relative;
                float: left;
            }
        }
    
        #bio{
            width: 60vw !important;
            scroll-snap-align: none;
            font-size: 1rem;
            padding: 0 !important;
        }
        

        #intro{
            p{
                font-size: 1rem;
            }
        }
        #more{
            width: 200px;
            img{
                width: 150px;
                position: relative;
                padding: 20px;
            }
        }
    }

    h2{
        font-size: 1rem;
        font-weight: 400;
        color: $text-color-light-fade;
        margin-bottom: 10px;
    }

    ul{
        li{
            margin-top: 5px;
            margin-bottom: 5px;
        }
    }

    p{
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .column {
        -ms-flex: 100%; 
        flex: 100%;
        max-width: 100%;
        padding: 0 10px;
    }

}

.onLoadBody, .onLoadHeader, .onLoadGreeting, .onLoadPort{
	transition: $snap-in-fast;
    opacity: 0;
    transform: scale3d(0.95, 0.95, 0.95);
}
