@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body, html{
    /* background-color: white; */
    padding: 0;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    font-family: 'Inter', sans-serif;
    height: 100vh;
    width: 100vw;
    height: -webkit-fill-available; 
}

body{
    /* scroll-snap-type: y mandatory; */
    font-size: 14px;
    background-color: rgb(250, 250, 250);
    color: black;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    min-height: -webkit-fill-available;
}

body {
    min-height: 100vh;
    /* mobile viewport bug fix */
    min-height: -webkit-fill-available;
}
  
html {
    height: -webkit-fill-available;
}

body > div, body > ul{
    padding: 16px;
}

ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul li{
    display: inline-block;
    margin-top: 10px;
}

a{
    color: inherit;
    font-size: 0.9rem;
    display: inline-block;
    transition: all 0.05s;
    text-decoration: none;
    opacity: 1;
    border-radius: 10000px;
    padding: 4px 8px;
    cursor: pointer;
    border: 1px solid transparent;
}


a:hover{
    border: 1px solid black;
}

a.active{
    background-color: black;
    color: white;
}

#work_toggle::after{
    content: " ↑";
}

span a{
    border: unset;
    border: unset;
    padding: unset;
}

span a:hover{
    text-decoration: underline;
    background-color: unset;
    color: unset;
    border: unset;
    cursor: alias;
}

::selection {
    color: black;
    background: rgb(255, 187, 0);
}

.cta{
    position: absolute;
    bottom: 16px;
    opacity: 0.6;
}

h1{
    font-weight: 400;
    /* cursor: help; */
    width: fit-content;
}

h2{
    font-weight: 400;
    opacity: 0.5;
}

h1,h2{
    margin: 0;
    padding: 0;
    font-size: 0.9rem;
}

p{
    font-size: 0.9rem;

    font-weight: 400;
    line-height: 120%;
}


#life_wrapper{
    width: fit-content;
}

#life_wrapper span{
    display: block;
    cursor: wait;
}

#locations{
    text-transform: lowercase;
    /* cursor: all-scroll; */
    width: fit-content;
}

#locations span{
    margin-right: 4px;
}
.strike{
    text-decoration: line-through;
}

#work{
    height: 400px;
    width: 100vw;
    overflow: hidden;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    position: relative;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 16px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    opacity: 0;
    -webkit-transform: translateY(16px);
        -ms-transform: translateY(16px);
            transform: translateY(16px);
    padding: 0;
}


#work.visible {
    opacity: 1;
    -webkit-transform: translateY(0px);
        -ms-transform: translateY(0px);
            transform: translateY(0px);
}

#work .image_container{
    display: inline-block;
    height: 100%;
    width: auto; 
    position: relative;
}

.image_container img{
    height: 100%;
    width: 100vw; 
    max-width: 600px;
    object-fit: cover;
}

/*   */


.image_container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.5) 0%, transparent 100%);
    opacity: 0;
    transition: opacity 0.2s ease;
}

.caption {
    position: absolute;
    bottom: 16px;
    left: 16px;
    color: #fff;
    opacity: 0;
    transition: opacity 0.2s ease;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.caption h1{
 font-size: 16px;
}

.caption p{
    padding: 0;
    margin: 0;
    opacity: 0.75;
}

@media only screen and (min-width: 768px) {
    .image_container:hover .caption {
        opacity: 1;
    }

    .image_container:hover::before {
        opacity: 1;
    }
}

@media only screen and (max-width: 767px) {
    .caption {
        opacity: 0;
        transition: none;
        pointer-events: none;
    }

    #work {
        scroll-snap-type: x mandatory;
        scroll-padding: 0 16px;
        max-height: unset;
    }
      
    .image_container{
        scroll-snap-align: center;
    }

    .image_container.active .caption {
        pointer-events: auto;
        opacity: 1;
    }

    .image_container.active::before {
        opacity: 1;
    }
}
  


/*   */

::-webkit-scrollbar {
    display: none;
}

@media (prefers-color-scheme: dark) {
    body{
        color:rgb(245, 245, 245);
        background-color: rgb(25, 25, 25);
    }
    #intro_section{
        color: inherit;
    }

    a:hover{
        background-color: white;
        color: black;
    }
}
