
/*@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@700&display=swap');


/* GLOBAL STYLING */

html{
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgb(250, 250, 250);
    color: #353638;
    transition: all 0.2;
    font-size: 16px;
    scroll-behavior: smooth;
    will-change: transform;
    overflow: hidden;
}

.blur{
    transition: all 0.2s;
    -moz-filter:blur(50px);
    -o-filter:blur(5px);
    -webkit-filter:blur(5px);
    filter:blur(5px);
}

::selection {
    background-color: #ff8c00;
    color: white;
}

body{ 
    font-family: 'Karla', sans-serif;
    margin: 0;
    padding: 0;

    -webkit-scroll-behaviour: smooth;

    overflow-x: hidden;
    overflow-y: hidden;
    -ms-overflow-style: none;

    font-weight: 400;
    height: 100%;
    width: 100%;

    opacity: 0;
    transition: opacity 1.5s;
    -webkit-transition: opacity 1.5s; /* Safari */
    scrollbar-width: none;

    /*Display flex*/
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.section_wrapper::-webkit-scrollbar {
    display: none;
}

.loadBody{
    opacity: 1;
}

.faderTop{
    position: fixed;
    content: '';
    top: 0;
    left: 0%;
    width: 100%;
    height: 10%;
    background: -webkit-linear-gradient(bottom, rgba(250,250,250,0), rgba(250,250,250,1));
    z-index: 100;
}

.faderBottom{
    position: fixed;
    content: '';
    bottom: 0;
    left: 0%;
    width: 100%;
    height: 10%;
    background: -webkit-linear-gradient(top, rgba(250,250,250,0), rgba(250,250,250,1));
    z-index: 100;
}

.header{
    display:none;
}

.progress-container {
    background: rgb(250, 250, 250);
}
.progress-bar {
    background: #353638;
}


.snapper{
    overflow: scroll;
    scroll-snap-type: y mandatory;
    -webkit-scroll-snap-type: y mandatory;
}

.snapping{
    scroll-snap-align: start;
    -webkit-scroll-snap-align: start;
}

a{
    color: #252b33;
    text-decoration: underline;
    transition: all 0.2s;
    -webkit-text-decoration-color: #C0C0C0; /* Safari */  
      text-decoration-color: #C0C0C0;
      cursor: pointer;
    
}

body.non-touch a:hover{
    transition: all 0.2s;
    opacity: 0.6;
    text-decoration: none;
    cursor: ne-resize;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-bottom: 8px;
}

/* TYPE STYLES */

h2{
    font-family: 'Roboto Mono', monospace;
    color: #252b33;
    padding: 0;
    margin: 0;

    font-weight: 700;
    font-size: 1.5rem;
    padding-top: 7px;
}

#location{
    text-decoration: none;
}

/* NAVIGATION */

nav{
    font-family: 'Roboto Mono', monospace;
    z-index: 1000;
    transition: transform 0.3s;
    font-size: 0.8rem;


    /*Flexbox*/
    order: 1;
    flex: 1 1 auto;
    align-self: auto;
    width: 10%;
    padding-right: 5%;

    position: relative;

    text-align: right;
    scrollbar-width: none;
}

nav::after {
    content: '';
    height:150%; 
    position: absolute;
    width: 1px;
    right: 15%;
    top: -25%;
    background-color: rgba(200,200,200,1); 
    z-index: 1000;
}

#menu li a{
    opacity: 0.2;
    text-decoration: none;
}

body.non-touch #menu li a:hover{
    opacity: 1;
    cursor: pointer;
    filter: brightness(100%);
}

#menu{
    margin: 0;
    padding: 10px;
}

#menu ul{
    display: flex;
    list-style: none; margin: 0; padding: 0;
}

#menu li{
    margin: 20px;
    height: 25px;
    align-items: center;
}

.active{
    opacity: 1 !important;
    font-size: 1rem;
    font-weight: 700;
    pointer-events: none;
}


/* CONTENT SECTION */

.section_wrapper{
    order: 2;
    flex: 5 1 auto;
    align-self: auto;
    overflow: scroll;
    height: 100%;
    scrollbar-width: none;
}

section{
    height: 100% !important;
    width: 100% !important;

    
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;

    opacity: 1;
    z-index: 99;
}

.section_content{
    padding:0;
    margin:0;
    z-index: 0;
}

.section_content ul{
    padding-top: 10px;
}

.section_content li{
    margin: 10px;
    margin-left: 0;
}

.section_content p{
    padding-top: 10px;
    margin-top: 10px;
}

.section_content div,
.section_content h1,
.section_content h2,
.section_content ul,
.section_content p{
    max-width: 450px;
}

/*PORTFOLIO OVERLAY*/

.port_overlay{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: fixed; 
    top: 0; left: 0; top: 0; bottom: 0;
    z-index: 0;
    opacity: 0;
    pointer-events: none;

    will-change: opacity;
    transition: opacity 0.2s;
}

.show_overlay{
    overflow-y: scroll;
    z-index: 1000;
    pointer-events: all;
    background-color: rgba(255, 255, 255, 0.8);
    
    -webkit-animation-name: fadeIn;
    -webkit-animation-duration: 0.2s;
    animation-name: fadeIn;
    animation-duration: 0.2s;
    opacity: 1 !important;
}

.port_overlay .port_cont{
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    opacity: 1;
}

.show_overlay .port_cont{
    /*
    padding-top: 0px;*/
}

@keyframes fadeIn{
    0%{
        opacity: 0!important;
        transform: translateY(100px);
    }
    100%{
        opacity:1 !important;
        transform: translateY(0);
    }
}
@-webkit-keyframes fadeIn{
    0%{
        -webkit-opacity: 0 !important;
        -webkit-transform: translateY(100px);
    }
    100%{
        -webkit-opacity:1 !important;
        -webkit-transform: translateY(0);
    }
}

body.non-touch .port_quick_view:hover{
    cursor: n-resize;
}

.port_cont img{
    object-fit: cover;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 100%;
    height: 100vh;
}

.port_cont .cont_desc{
    width: 70%;
    margin: 0 auto;
}

#close_port_btn{
    position: fixed;
    top: 40px;
    right: 40px;
    padding: 15px;
    background-color:#fcfcfc;
    border-left: 2px solid #252b33;
  
    cursor: pointer;
    z-index: 1001;
    transition: all 0.1s;
}

body.non-touch #close_port_btn:hover{
    color: #fcfcfc;
    background-color: #252b33;
    cursor: s-resize;
}

.cont_desc h1{
    font-family: 'Roboto Mono', monospace;
    color: #252b33;
    padding: 0;
    margin: 0;

    text-align: right;

    font-weight: 700;
    font-size: 3rem;
    padding-bottom: 40px;
    padding-top: 40px;

}

.cont_desc li{
    padding: 10px;
    font-weight: 600;
    border-left: 2px solid #252b33;
}

.cont_wrapper{
    width: 100%;
    clear: both;
}

.bottom_whitespace{
    height: 100px;
}

.cont_wrapper p{
    width: 60%;
    padding: 40px;
    padding-left: 0;
    padding-right: 0;
}

.cont_wrapper img{
    width: 100%;
    height: auto;
    clear:both;
}

.cont_wrapper #cont_ing{
    float: right;
    text-align: right;
    clear: both;
    font-size: 1.5em;
}
.cont_wrapper .go_left{
    float: left;
    text-align: left;
    clear: both;
}

/* SETTINGS BTN */

.settings{
    position: fixed;
    left: 10px;
    bottom: 10px;
    padding: 10px;
    display: inline;
    z-index: 1000;
}
.settings #settingsIcon{
    display: inline;
    font-size: 0.75rem;
    cursor: pointer;
    transition: all 0.2s;
}
.settings #settingsList{
    display: inline;
    margin-left: 10px;
    transition: all 0.2s;
    position: relative;
}
.settings #settingsList li{
    display: inline;
    font-size: 0.75rem;
}
.settings #settingsList a{
    cursor: pointer;
}
.showSettings{
    opacity: 1;
    left: 0;
}
.hideSettings{
    pointer-events: none;
    opacity: 0;
    left: -5px;
}
.inactiveSettings{
    opacity: 0.5;
}
body.non-touch .inactiveSettings:hover{
    opacity: 1;
}
.activeSettings{
    opacity: 1;
}


/* COLOR MODES */	

.goDark{
    color: rgba(250,250,250,1);
    background-color: black;
}
.goDark a{
    color: rgba(250,250,250,1);
}
.goDark h2{
    color:rgba(250,250,250,1);
}
.goDark h1{
    color:rgba(250,250,250,1);
}
body.non-touch .goDark a:hover{
    transition: all 0.2s;
    filter: brightness(80%);
}
.goDark nav::after{
    background-color: rgb(61, 61, 61);
}
.goDark .faderTop{
    background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0), rgb(0, 0, 0));
}
.goDark .faderBottom{
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgb(0, 0, 0));
}

.goDark .show_overlay{
    background-color: rgba(0, 0, 0, 0.8);
}
.goDark #close_port_btn{
    background-color: black;
    border-left: 2px solid #fcfcfc;
}
body.non-touch .goDark #close_port_btn:hover{
    color: black;
    background-color: #fcfcfc;
    border-left: 0px solid #fcfcfc;
}

.goDark .progress-container {
    background: black;
}
.goDark .progress-bar {
    background: rgb(250,250,250);
}

/* - - - - */

.goGray {
    color: rgba(236,236,236,1);
    background-color: rgb(14, 14, 14);
}
.goGray a{
    color: rgba(236,236,236,1);
}
.goGray h2{
    color: rgba(236,236,236,1);
}
.goGray h1{
    color: rgba(236,236,236,1);
}
body.non-touch .goGray a:hover{
    transition: all 0.2s;
    filter: brightness(80%);
}
.goGray nav::after{
    background-color: rgb(61, 61, 61);
}
.goGray .faderTop{
    background: -webkit-linear-gradient(bottom, rgba(14, 14, 14, 0), rgb(14, 14, 14));
}
.goGray .faderBottom{
    background: -webkit-linear-gradient(top, rgba(14, 14, 14, 0), rgb(14, 14, 14));
}

.goGray .show_overlay{
    background-color: rgba(14, 14, 14, 0.8);
}
.goGray #close_port_btn{
    background-color: rgb(14, 14, 14);
    border-left: 2px solid #fcfcfc;
}
body.non-touch .goGray #close_port_btn:hover{
    color: rgba(14, 14, 14, 1);
    background-color: #fcfcfc;
    border-left: 0px solid #fcfcfc;
}

.goGray .progress-container {
    background: rgb(14, 14, 14);
}
.goGray .progress-bar {
    background: rgb(236,236,236);
}

/* - - - - */

.goContrast{
    background-color: red;
    color: blue;
}
.goContrast body, .goContrast h1{
    font-family: 'Gloria Hallelujah', cursive;
}
.goContrast a{
    color: blue;
    -webkit-text-decoration-color: yellow;
    text-decoration-color: yellow;
}
.goContrast nav{
    font-family: 'Comic Neue', cursive;
}
.goContrast nav::after{
    background-color: green;
}
.goContrast #menu a{
    color: orange;
}
body.non-touch .goContrast a:hover{
    transition: all 0.2s;
    filter: brightness(50%);
}

.currentTheme{
    text-decoration: none;
    pointer-events: none;
}

/* - - - - - OVERRIDES - - - - - -*/
.noscroll { overflow: hidden; }
.removeElement{ display: none; }

/* - - - - - -  RESPONSIVITY- - - - - - -*/

/*MEDIUM SCREEN*/
@media only screen and (max-width: 1100px) {
    nav{
        font-size: 0.7rem;
        width: 10%;
        padding-right: 2%;
    }
    nav::after{
        content: '';
        height:120%; 
        position: absolute;
        width: 1px;
        right: 8%;
        top: -10%;
        background-color: rgba(200,200,200,1); 
        z-index: 1000;
    }
    .active{
        font-size: 0.75rem;
    }

    .section_wrapper{
        padding-left: 5%;
    }
}

/*SMALL SCREEN*/
@media only screen and (max-width: 850px) {
    /*GLOBAL*/
    html{
        font-size: 18px;
        height: 100%;
        width: 100%;
        overflow: hidden;
    }
    body{
        height: 100%;
        width: 100%;
        overflow: hidden;
    }
    .faderTop{
        left: 5%;
        width: 450px;
        height: 100px;
    }
    .faderBottom{
        left: 5%;
        width: 450px;
        height: 100px;
    }

    /* Scoll indicator */

    .header {
        display:block;
        position: fixed;
        top: 0;
        z-index: 101;
        width: 100%;
    }
    .progress-container {
        width: 100%;
        height: 3px;
    }
    .progress-bar {
        height: 3px;
        width: 0%;
    }
    
    /*NAV*/
    nav{
        display:none;

        position: absolute; 
        top: 0px;
        left:0;
        /*height: 40px;*/
        width: 100%;
        overflow-y: hidden;
        overflow-x: scroll;
        padding: 10px;
    
        background-color: rgba(250, 250, 250, 0.8);
        backdrop-filter: blur(4px);
        -webkit-backdrop-filter: blur(4px);
        border-bottom: 1px solid rgba(200,200,200,1);
    }
    nav::after {
        content: '';
        display: none;
    }
    nav::-webkit-scrollbar {
        display: none;
    }
    #menu{
        overflow-x: scroll;
        overflow-y: hidden;
        width: 200%;
        border: none;
        height: unset;
        padding-left: 3%;
    }
    #menu li {
        margin: 0 auto;
        margin: 0;
        height: unset;
        float: left;
        align-items: center;
        display: inline-block;
    } 
    #menu li a {
        margin: 0;
        padding-right: 35px;
        text-decoration: none;
        font-size: 0.75rem;
    }
    .active{
        opacity: 1 !important;
        font-size: 1rem;
        font-weight: 500;
        pointer-events: none;
    }
    .is-hidden {
        transform: translateY(-100px) !important;
    }
    .is-visible {
        transform: translateY(0px) !important;
    }

    /*CONTENT*/
    section{
        padding:0;
        margin:0;
    }
    .section_wrapper{
        padding-left: 0;
    }
    .section_content{    
        padding:20px;
        padding-left: 5%;   
    }
    .section_content div,
    .section_content h1,
    .section_content h2,
    .section_content ul,
    .section_content p{
        width: 100% !important;
        max-width: 400px;
    }
    .section_content h2{
        /*
        margin-top: 15px;*/
    }
    .section_content li{
        padding: 0;
        margin: 0;
        margin-top: 10px;
        margin-bottom: 10px;
     }
    .section_content a{
        padding-top: 8px;
        padding-bottom: 8px;
    }

    /* PORT OVERLAY */

    #close_port_btn{
        top: 10px;
        right: 10px;
    }
    .port_cont img{
        height: 70vh;
    }
    .port_cont .cont_desc{
        width: 90%;
        margin: 0 auto;
    }

    .cont_wrapper p{
        width: 80%;
        padding: 20px;
        padding-left: 0;
        padding-right: 0;
    }

    .cont_wrapper img{
        width: 100%;
        height: 40vh;
        object-fit: cover;
        clear:both;
    }


    /*COLOR MODES*/
    .goDark nav{
        background-color:rgba(0, 0, 0, 0.6);
        backdrop-filter: blur(4px);
        -webkit-backdrop-filter: blur(4px);
        border-bottom: 1px solid rgb(61, 61, 61);
    }

    .goGray nav{
        background-color: rgba(14, 14, 14, 0.6);
        backdrop-filter: blur(4px);
        -webkit-backdrop-filter: blur(4px);
        border-bottom: 1px solid rgb(61, 61, 61);
    }


    .goContrast nav{
        background-color: aqua;
        border-bottom: 1px solid greenyellow;
    }

    /*SETTINGS*/
    .settings{
        padding: 10px;
    }
    .settings li{
        padding: 5px;
    }
    
}

/*SUPER SMALL SCREEN*/
@media only screen and (max-width: 400px) {
    
    /*GLOBAL*/
    html{
        width: 100vw;
        height: 100vh;
        font-size: 12px;
        overflow: hidden;
    }
    .faderTop{
        left: 20px;
        width: 300px;
        height: 50px;
    }
    .faderBottom{
        left: 20px;
        width: 300px;
        height: 50px;
    }


    /*SECTION*/
    .section_content{    
        padding:25px;
    }

    .section_content div, .section_content h1, .section_content h2, .section_content ul, .section_content p {
        width: 100%;
        max-width: 300px;
    }

    /*PORTFOLIO OVERLAY*/
    .cont_wrapper p{
        width: 100%;
        padding: 15px;
        padding-left: 0;
        padding-right: 0;
    }

    /*SETTINGS*/
    .settings{
        padding: 15px;
        padding-bottom: 15px;
    }
}

