
/*@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&display=swap');

html{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: white;
    color: #252b33;
    transition: all 0.2;
    font-size: 16px;

    scroll-behavior: smooth;
}

a{
    color: #252b33;
    text-decoration: underline;
    transition: all 0.2s;
    -webkit-text-decoration-color: #C0C0C0; /* Safari */  
      text-decoration-color: #C0C0C0;
      cursor: pointer;
    
}

body{ 
    font-family: 'Roboto Mono', monospace;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: hidden;

    -ms-overflow-style: none;
}

body{ 
    opacity: 0;
    transition: opacity 0.5s;
    -webkit-transition: opacity 0.5s; /* Safari */
}

.loadBody{
    opacity: 1;
}

body::-webkit-scrollbar {
    display: none;
}

::selection {
    background-color: #f88379;
    color: white;
}


a:hover{
    transition: all 0.2s;
    filter: brightness(150%);
    cursor: ne-resize;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}


/* - - - - - - - - */

h1{
    font-weight: normal;
    font-size: 2rem;
    padding: 0;
    margin: 0;
    margin-bottom: 8px;
    margin-top: 8px;
}

h2{
    font-weight: bold;
    padding: 0;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 0px;
    margin-bottom: 10px;
}

p,li,div{
    font-weight: 300;
    font-size: 1rem;
}

#location{
    text-decoration: none;
}

/* - - - - - - - - */

nav{
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 20vw;
    font-family: 'Inter', sans-serif;
    text-align: right;

    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: auto;
    z-index: 100;
    transition: transform 0.3s;
}

nav::after {
    content: '';
    height: 45vh; 
    width: 1px;
    position: absolute;
    right: 0;
    top: 27.5vh; 
    background-color: #ececec; 
}

#menu li a{
    opacity: 0.2;
    text-decoration: none;
}

#menu li a:hover{
    opacity: 1;
    cursor: pointer;
}

#menu{
    margin: 0;
    padding: 10px;
    padding-right: 25px;
}

#menu ul{
    display: flex;
    list-style: none; margin: 0; padding: 0;
}

#menu li{
    margin: 20px;
    height: 25px;
    align-items: center;
}

/* - - - - - - - */

section{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;

    height: 100vh !important;
    width: 100vw !important;
    opacity: 1;
}

.section_content{
    padding:0;
    margin:0;
    padding: 10%;
    padding-left: 25vw;
    padding-right: 10vw;
}

section li{
    margin: 8px;
    margin-left: 0;
}

.section_content div,
.section_content h1,
.section_content h2,
.section_content ul,
.section_content p{
    width: 100vw;
    max-width: 450px;
}

/* - - - - - - */

.settings{
    position: absolute;
    left: 10px;
    bottom: 10px;
    padding: 10px;
    display: inline;
    z-index: 100;
}

.settings #settingsIcon{
    display: inline;
    font-size: 0.75rem;
    cursor: pointer;
    transition: all 0.2s;
}
.settings #settingsList{
    display: inline;
    transition: all 0.2s;
    position: relative;
}

.settings #settingsList li{
    display: inline;
    font-size: 0.75rem;
}
.settings #settingsList a{
    cursor: pointer;
}

.showSettings{
    opacity: 1;
    left: 0;
}
.hideSettings{
    pointer-events: none;
    opacity: 0;
    left: -5px;
}
.inactiveSettings{
    opacity: 0.5;
}
.inactiveSettings:hover{
    opacity: 1;
}
.activeSettings{
    opacity: 1;
}

.emoji-ani {
    position: relative;
    top: 0;
    -webkit-transition: top ease 0.2s;
    transition: top ease 0.2s;
    display: inline-block;
}


/* - - - - - - - -*/

.snapper{
    overflow: scroll;
    scroll-snap-type: mandatory;
    scroll-snap-points-y: repeat(100vh);
    scroll-snap-type: y mandatory;
}

.snapping{
    scroll-snap-align: start;
}

.active{
    opacity: 1 !important;
    font-size: 1.2rem;
    font-weight: 500;
    pointer-events: none;
}


/*Color Modes*/	

.goDark{
    color: #fcfcfc;
    background-color: black;
}
.goDark a{
    color: #fcfcfc;
}
.goDark a:hover{
    transition: all 0.2s;
    filter: brightness(50%);
}

.goDark nav::after{
    background-color: rgb(61, 61, 61);
}

.goContrast{
    background-color: red;
    color: blue;
}

.goContrast body, .goContrast h1{
    font-family: 'Gloria Hallelujah', cursive;
}

.goContrast a{
    color: blue;
    -webkit-text-decoration-color: yellow;
    text-decoration-color: yellow;
}

.goContrast nav{
    font-family: 'Comic Neue', cursive;
}
.goContrast nav::after{
    background-color: green;
}

.goContrast #menu a{
    color: orange;
}

.goContrast a:hover{
    transition: all 0.2s;
    filter: brightness(50%);
}

.currentTheme{
    text-decoration: none;
    pointer-events: none;
}

/* - - - - - -  RESPONSIVITY- - - - - - -*/

@media only screen and (max-width: 850px) {
    html{
        font-size: 18px;
        height: 100%;
        width: 100%;
        overflow: hidden;
    }

    body{
        height: 100vh;
        width: 100vw;
        overflow: hidden;
    }

    nav{
        position: absolute; 
        top: 0px;
        left:0;
        height: 40px;
        width: 100%;
        overflow-y: hidden;
        overflow-x: scroll;
        padding: 10px;
    
        background-color: rgba(255, 255, 255, 0.8);
        backdrop-filter: blur(4px);
        -webkit-backdrop-filter: blur(4px);
        border-bottom: 1px solid #ececec;
    }
    nav::after {
        content: '';
    }

    nav::-webkit-scrollbar {
        display: none;
    }

    #menu{
        overflow-x: scroll;
        overflow-y: hidden;
        width: 250vw;
        padding: 0;
        padding-left: 5vw;
    }

    #menu li {
        margin: 0 auto;
        margin: 0;
        float: left;
        align-items: center;
        display: inline-block;
    }
      
    #menu li a {
        margin: 0;
        padding-right: 35px;
        text-decoration: none;
        font-size: 0.75rem;
    }

    .active{
        opacity: 1 !important;
        font-size: 1rem;
        font-weight: 500;
        pointer-events: none;
    }

    section{
        padding:0;
        margin:0;
    }

    .section_content{    
        padding:20px;
        padding-left: 10vw;   
    }

    .section_content div,
    .section_content h1,
    .section_content h2,
    .section_content ul,
    .section_content p{
        width: 100% !important;
        max-width: 400px;
    }

    .is-hidden {
        transform: translateY(-100px) !important;
    }
    .is-visible {
        transform: translateY(0px) !important;
    }

    .goDark nav{
        background-color:rgba(0, 0, 0, 0.6);
        backdrop-filter: blur(4px);
        -webkit-backdrop-filter: blur(4px);
        border-bottom: 1px solid rgb(61, 61, 61);
    }

    .goContrast nav{
        background-color: aqua;
        border-bottom: 1px solid greenyellow;
    }

    .settings{
        padding: 15px;
    }
    
}


@media only screen and (max-width: 400px) {
    
    html{
        width: 100vw;
        height: 100vh;
        font-size: 12px;
        overflow: hidden;
    }

    .section_content{    
        padding:25px;
    }
    
    .section_content div, .section_content h1, .section_content h2, .section_content ul, .section_content p {
        width: 100%;
        max-width: 300px;
    }

    nav{
        font-size: 1rem;
        padding: 5px;
        height: 30px;
        padding-top: 10px;
    }
    
    .settings{
        padding: 15px;
        padding-bottom: 15px;
    }
}


/* - - - - */

.port_quick_view:hover{
    cursor: e-resize;
}

.port_view{
    position: absolute;
    height: auto;
 
    width: 40vw;
    min-width: 400px;

    max-height: 80vh;

    padding: 60px;

    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    transition: all 0.3s;
    z-index: 1000;
}

.goDark .port_view{
    background-color: rgba(0,0,0,0.5);
}

.goDark .port_view img{
    -webkit-box-shadow: 0px 0px 39px 0px rgba(235,235,235,0);
    -moz-box-shadow: 0px 0px 39px 0px rgba(235,235,235,0);
    box-shadow: 0px 0px 39px 0px rgba(235,235,235,0);
}

.port_cont{
    position: relative;
    height: 100%;
    width: 100%;
}

.port_cont img{
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: 50vh;
    object-fit: cover;
    margin-top: 40px;

    -webkit-box-shadow: 0px 0px 39px 0px rgba(235,235,235,1);
    -moz-box-shadow: 0px 0px 39px 0px rgba(235,235,235,1);
    box-shadow: 0px 0px 39px 0px rgba(235,235,235,1);
}

.port_cont h1{
    margin:0;
    padding:0;
    margin-top: 15px;
    margin-bottom: 8px;
}

.port_cont p{
    margin:0;
    padding:0;
}

.port_cont #close_port_btn{
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    transition: all 0.2s;
}

#close_port_btn:hover{
    filter: brightness(200%);
    cursor: e-resize;
}

.port_cont h1, .port_cont p{
    padding-left: 10px;
    width: 80%;
}

.port_cont h1{
    font-size: 1.5rem;
}

.port_cont p{
    font-size: 1rem;
}

.port_cont a{
    position: relative;
    float: right;
    margin-top: 40px;
    opacity: 0.4;
}

.port_cont a:hover{
    opacity: 1;
}

.activePortItem{
    transition: all 0.2s;
    font-weight: 700;
    text-decoration: none;
    cursor: w-resize;
}
.activePortItem::after{
    content:" >";
}

.activePortItem:hover{
    filter: brightness(200%);
    cursor: w-resize;
}

.show_port {
    -webkit-animation: popIn 0.5s;
            animation: popIn 0.5s;
            
    right: 3%;
    opacity: 1 !important;
}

.hide_port{
    -webkit-animation: popOut 0.3s;
    animation: popOut 0.3s;

    right: -2000px;
    opacity: 0;
}

@media only screen and (max-width: 850px){
    .port_view{    
        width: 100vw;
        max-height: 80vh;
        padding: 0;
        margin:0;
        min-width: 0px;
        padding-top: 10px;
        padding-bottom: 60px;
    }
    .port_cont{
        position: relative;
        width: 90%;
        margin: 0 auto;
        margin-bottom: 50px;
    }
    .show_port {    
        left: 0;
        margin: 0 auto;
    }

    .port_cont a{
        position: relative;
        margin-top: 30px;
    }

    .port_cont h1, .port_cont p{
        padding: 0;
        width: 100%;
    }
}


@-webkit-keyframes popIn {
    0% {
        -webkit-transform: translateX(1000px);
                transform: translateX(1000px);
    }60%{
        -webkit-transform: translateX(-20px);
        transform: translateX(-20px);
    }
    100% {
        -webkit-transform: translateX(0);
                transform: translateX(0);
    }
}
@keyframes popIn {
    0% {
        -webkit-transform: translateX(1000px);
                transform: translateX(1000px);
    }60%{
        -webkit-transform: translateX(-20px);
        transform: translateX(-20px);
    }
    100% {
        -webkit-transform: translateX(0);
                transform: translateX(0);
    }
}

@-webkit-keyframes popOut {
    0% {
        -webkit-transform: translateX(0);
                transform: translateX(0);
    }
    50%{
        -webkit-transform: translateX(-20px);
        transform: translateX(-20px);
    }
    100% {
        -webkit-transform: translateX(1000px);
                transform: translateX(1000px);
    }
}
@keyframes popOut {
    0% {
        -webkit-transform: translateX(0);
                transform: translateX(0);
    }
    50%{
        -webkit-transform: translateX(-20px);
        transform: translateX(-20px);
    }
    100% {
        -webkit-transform: translateX(1000px);
                transform: translateX(1000px);
    }
}
  
