
/*@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

html{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    /*background-color: #f7f7f7;*/
    background-color: white;
    color: #252b33;
    transition: all 0.2;
    font-size: 16px;

    scroll-behavior: smooth;
}

a{
    color: #252b33;
    text-decoration: underline;
    transition: all 0.2s;
    -webkit-text-decoration-color: #C0C0C0; /* Safari */  
      text-decoration-color: #C0C0C0;
      cursor: pointer;
    
}

body{ 
    font-family: 'Roboto Mono', monospace;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: hidden;

    -ms-overflow-style: none;
    
    /*
    animation: fadeInPage ease 0.4s; 
    animation-iteration-count: 1; 
    animation-fill-mode: forwards;
    */
    
}

body::-webkit-scrollbar {
    display: none;
}


a:hover{
    transition: all 0.2s;
    filter: brightness(150%);
}


ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

section li{
    margin: 8px;
    margin-left: 0;
}

#menu li a{
    opacity: 0.2;
    text-decoration: none;
}

#menu li a:hover{
    opacity: 1;
}

/* - - - - - - - - */

h1{
    font-weight: normal;
    font-size: 2rem;
    padding: 0;
    margin: 0;
    margin-bottom: 8px;
    margin-top: 8px;
}

h2{
    font-weight: bold;
    padding: 0;
    margin: 0;
    /*margin-bottom: 12px;*/
    
    padding-top: 10px;
    padding-bottom: 0px;
}

p,li,div{
    font-weight: 300;
    font-size: 1rem;
}

#location{
    text-decoration: none;
}

/* - - - - - - - - */

nav{
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 20vw;
    font-family: 'Inter', sans-serif;
    text-align: right;

    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: auto;
    z-index: 100;
    transition: transform 0.3s;
}

section{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;

    height: 100vh !important;
    width: 100vw !important;
    opacity: 1;
}

.section_content{
    padding:0;
    margin:0;
    padding: 10%;
    padding-left: 25vw;
    padding-right: 10vw;
}

.section_content div,
.section_content h1,
.section_content h2,
.section_content ul,
.section_content p{
    width: 100vw;
    max-width: 400px;
    /*background-color: whitesmoke;*/
}

/*- - - - -- - */

#logo{
    font-weight: 500;
    font-size: 1.25rem;
    text-align: right;
    margin: 20px;
    padding: 0;
    margin-bottom: 0;
    cursor: default;
}

#menu{
    margin: 0;
}

#menu ul{
    display: flex;
    list-style: none; margin: 0; padding: 0;
}

#menu li{
    margin: 20px;
    height: 25px;
    align-items: center;
}

.emoji-ani {
    position: relative;
    top: 0;
    -webkit-transition: top ease 0.2s;
    transition: top ease 0.2s;
    display: inline-block;
}

#greeting{
    /*margin-top: 60px;*/
    /*position: relative;*/
    /*cursor: pointer;*/
}

#greeting:hover #scrollEmoji{
    top:5px;
}


#greeting::after{
    visibility: hidden;
    position: absolute;
    top:-150px;
    left:150px;
    transform: rotate(-20deg);
    /*background-image: url('me.JPG');*/
    background-size: 200px 234px;
    display: inline-block;
    width: 200px; 
    height: 234px;
    content:"";
}

/* - - - - - - - -*/

.snapper{
    overflow: scroll;
    scroll-snap-type: mandatory;
    scroll-snap-points-y: repeat(100vh);
    scroll-snap-type: y mandatory;
}

.snapping{
    scroll-snap-align: start;
}

.active{
    opacity: 1 !important;
    font-size: 1.2rem;
    font-weight: 500;
    pointer-events: none;
}

.tempRemove{
    display: none;
}

.mobile_nav{

}

.is-hidden {
	
}
.is-visible {

}


/* - - EXTRA STUFF- - - */
.column {
    float: left;
    width: 200px;
    margin: 20px;
    height: 100px;
    background-color: red;
}

.row{
    background-color: khaki;
    max-width: 100%;
    z-index: 100;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

/* KEYFRAMES */

/*
@keyframes fadeInPage { 
    0% { 
        opacity: 0;
    }40%{
        opacity: 0.5; 
    } 
    100% {
        opacity: 1; 
     } 
} 
*/

/* - - - - - -  RESPONSIVITY- - - - - - -*/

@media only screen and (max-width: 800px) {
    html{
        font-size: 14px;
        height: 100%;
        width: 100%;
        overflow: hidden;
    }

    body{
        height: 100vh;
        width: 100vw;
        overflow: hidden;
    }

    nav{
        position: absolute;
        top: unset;
        left: unset;
        bottom: 0;
        left: 0;
        height: 60px;
        width: 100vw;

        padding: 10px;
        overflow: hidden;
    
        display: block;

        background-color: white;
        border-radius: 5px;
    }

    #menu{
        overflow-x: scroll;
    }

    nav li {
        margin: 0 auto;
        margin: 0px;
        float: left;
        align-items: center;
        display: inline-block;
    }
      
    nav li a {
        /*display: block;*/
        /*text-align: right;*/
        
        /*padding: 16px;*/
        text-decoration: none;
    }

    .active{
        opacity: 1 !important;
        font-size: 1rem;
        font-weight: 500;
        pointer-events: none;
    }

    section{
        padding:0;
        margin:0;
    }

    .section_content{    
        padding:10px;
        padding-left: 10vw;   
    }

    .section_content div,
    .section_content h1,
    .section_content h2,
    .section_content ul,
    .section_content p{
        width: 100% !important;
        max-width: 400px;
        /*background-color: whitesmoke;*/
    }

    .is-hidden {
        transform: translateY(100px) !important;
        transform: translateX(0);
        /*overflow: hidden;*/
        -webkit-box-shadow: 0px 0px 20px -1px rgba(247,247,247,0.1);
        -moz-box-shadow: 0px 0px 20px -1px rgba(247,247,247,0.1);
        box-shadow: 0px 0px 20px -1px rgba(247,247,247,0.1);
    }
    .is-visible {
        transform: translateY(0px) !important;
        transform: translateX(0);
        /*overflow: hidden;*/
        -webkit-box-shadow: 0px 0px 20px -1px rgba(222,222,222,1);
        -moz-box-shadow: 0px 0px 20px -1px rgba(222,222,222,1);
        box-shadow: 0px 0px 20px -1px rgba(222,222,222,1);
    }
    .mobile_nav{
        -webkit-box-shadow: 0px 0px 20px -1px rgba(222,222,222,1);
        -moz-box-shadow: 0px 0px 20px -1px rgba(222,222,222,1);
        box-shadow: 0px 0px 20px -1px rgba(222,222,222,1);
    }
    
}


@media only screen and (max-width: 400px) {
    
    html{
        width: 100vw;
        height: 100vh;
        font-size: 12px;
        overflow: hidden;
    }

    .section_content{    
        padding:25px;
           
    }
    
    .section_content div, .section_content h1, .section_content h2, .section_content ul, .section_content p {
        width: 100%;
        max-width: 300px;
        /* background-color: whitesmoke; */
    }
}

/*
@media only screen and (max-width: 550px) {
    html{
        font-size: 14px;
        height: 100%;
        width: 100%;
    }

    body{
        
        height: 100%;
        width: 100%;
    }

    nav{
        position: absolute;
        top: unset;
        left: unset;
        bottom: 0;
        height: 100px;

        width: 100vw;
        overflow: hidden;
    
        display: block;

        background-color: white;
    }

    nav li {
        float: left;
        margin: 0 auto;
        margin: 0px;
        height: 20px;
        align-items: center;
    }
      
    nav li a {
        display: block;
        text-align: center;
        text-decoration: none;
    }

    .active{
        opacity: 1 !important;
        font-size: 1rem;
        font-weight: 500;
        pointer-events: none;
    }

    .section_content{    
        padding:0;
        margin:0;
        padding: 20px;
        margin: 0 auto;
        width: 100vw;
    }

}
*/