@import url('https://fonts.googleapis.com/css?family=Signika+Negative|Varela&display=swap');
//font-family: 'Varela', sans-serif;
//font-family: 'Signika Negative', sans-serif;

body{
    width: 100%;
    height: 100%;
    background-color: red;
}

