@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500;700&display=swap");
#preloader_container {
  position: fixed !important;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  background-color: white;
  z-index: 10000;
  -webkit-transition: all 1s;
  transition: all 1s;
}

#preloader_container #preloader {
  width: 1000px;
  position: absolute;
  top: 45%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.fadeOut {
  z-index: -10000 !important;
  opacity: 0;
}

.remove {
  display: none;
}

.noScroll {
  overflow: hidden;
}

@media screen and (max-width: 600px) {
  #preloader_container #preloader {
    width: 600px;
  }
}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

*::-webkit-scrollbar {
  display: none;
}

html {
  font-size: 1vw;
  font-size: 16px;
  scroll-behavior: smooth;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  font-family: "Karla", sans-serif;
  color: #353638;
  background-color: #ffffff;
  scrollbar-width: none;
  margin: 0 auto !important;
  opacity: 1;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

body::-webkit-scrollbar {
  display: none !important;
}

.disableYScrolling {
  overflow-y: hidden !important;
}

#greeting::-webkit-scrollbar {
  display: none !important;
}

h1 {
  font-size: 1.2rem;
  font-weight: 600;
  text-align: left;
  padding-top: 10px;
  margin-bottom: 10px;
}

p {
  line-height: normal;
  font-size: 1rem;
  margin-top: 10px;
  margin-bottom: 10px;
}

a {
  text-decoration: none;
  color: #6a6a6a;
  cursor: alias;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}

body.non-touch a:hover {
  color: #9193a5;
  -webkit-text-decoration-color: #9193a5;
  /* Safari */
  text-decoration-color: #9193a5;
}

ul {
  margin-top: 0px;
  margin-bottom: 40px;
}

ul li {
  margin-top: 10px;
  margin-bottom: 10px;
}

#content {
  width: auto;
  height: 100vh;
  width: auto;
  white-space: nowrap;
  position: relative;
  overflow-x: scroll;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
}

section {
  position: relative;
  top: 0;
  margin: 0;
  height: 100%;
  display: inline-block;
  white-space: nowrap;
  vertical-align: text-top;
  vertical-align: middle;
}

#header {
  position: fixed;
  z-index: 1000;
  padding: 3vw;
  font-weight: bold;
  font-size: 1rem;
}

#header ul {
  margin-top: 5px;
  font-weight: normal;
}

#header ul li {
  position: relative;
  display: inline;
  -webkit-transition: ease 200ms;
  transition: ease 200ms;
  top: 0;
  cursor: w-resize;
  color: #6a6a6a;
}

#header ul .hidden_nav {
  opacity: 0;
  top: 5px;
  pointer-events: none;
}

body.non-touch #header ul li:hover {
  color: #9193a5;
}

body.mobile #header {
  padding: 20px;
}

body.mobile #header ul li {
  cursor: n-resize;
}

body.non-touch #greeting:hover #hand-wave {
  -webkit-animation: shake 90ms ease;
          animation: shake 90ms ease;
  -webkit-animation-iteration-count: 8;
          animation-iteration-count: 8;
}

body.mobile #content {
  width: 100%;
  height: 100%;
  white-space: initial;
  position: relative;
  overflow-x: hidden;
  overflow-y: scroll !important;
  -webkit-overflow-scrolling: touch;
}

body.mobile section {
  position: relative;
  top: 0;
  margin: 0;
  height: auto;
  display: block;
  white-space: initial;
  padding: 0;
  clear: both;
}

@-webkit-keyframes shake {
  0% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  50% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  100% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
}

@keyframes shake {
  0% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  50% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  100% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
}

@media screen and (max-width: 600px) {
  html {
    font-size: 12px;
  }
  section {
    padding: 10px !important;
  }
  ul li {
    margin-top: 5px;
    margin-bottom: 5px;
  }
  p {
    margin-top: 5px;
    margin-bottom: 5px;
  }
}

/*
.onLoadBody, .onLoadHeader, .onLoadGreeting, .onLoadPort{
	transition: $snap-in-fast;
    opacity: 0;
    transform: scale3d(0.95, 0.95, 0.95);
}*/
/*
#greeting{

    //position: relative;

    //position: -webkit-sticky !important; 
    //position: sticky !important;

    top: 0px;    


    height: 90vh;
    width: auto;
    white-space: nowrap;
    position: relative;

    overflow-x: scroll;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;

    padding-right: 8vw;

    //scroll-snap-type: x mandatory;

    .greeting_page{
        position: relative;
        height: inherit;
        width: 70vw !important;
        min-width: 600px;
        padding: 0;
        margin: 0;
        display: inline-block;
        zoom: 1;
        font-size: 1rem;
        white-space:normal;
        vertical-align: text-top;
        vertical-align: middle;
        //scroll-snap-align: start;
        z-index: 1;
    }

    .greeting_pil{
        position: absolute;
        bottom: 10vh;
        right: 10%;
        width: 40px;
        height: auto;
        transform-origin: right bottom !important;
        cursor: e-resize;
    }

    #pil4{
        cursor: s-resize;
    }


    #greets{
        #greeting_message{
            max-width: 80%;
            position: absolute;
            top: 40%;
            left: 10%;
            font-size: 2rem;
            font-weight: bold;

            h3{
                font-weight: normal;
                font-size: 1.2rem;
                transition: 0.5s;
            }
            
            #status_cont{
                padding: 20px;
                padding-left: 0;
                width:60vw; 
                position: relative;
            }   
            .status{
                display: inline-block;
                position: absolute;
                width: inherit;
                //padding-left: 0.5rem;
                transition: 0.3s;
                pointer-events: all;
            }   
        }





    }

    #intro{
        p{
            position: absolute;
            top: 10%;
            left: 30%;
            text-align: right;
            max-width: 40rem;
            font-size: 1rem;
            font-weight: bold;
            span{
                font-weight: bold;
            }
        }
    }

    #bio{
        #bio_container{
            position: absolute;
            top: 15%;
            right: 30%;
            img{
                position: relative;
                float: left;
                margin: 2rem;
                max-width: 40rem !important;
                max-height: 20rem !important;
                object-fit: cover;
            }
            ul{
                position: relative;
                top: 10rem;
                margin: 2rem;
                float: left;
            }
        }
    }

    #cv{
        ul{
            position: absolute;
            top: 10vh;
            left: 10%;
            li{
                float: none;
                max-width: 40rem;
                margin-right: 40px;

                h1{
                    font-size: 1rem;
                }

                p{
                    font-size: 1rem;
                }
            }
        }
    }

    #contact{
        ul{
            li{
                margin: 10px;
                margin-left: 0;
                font-size: 0.8rem;
            }
        }
    }

    #sketch {
        position: absolute;
        top: 0;
        left: 0;
        width: inherit;
        height: 100%;
        overflow: hidden;
    }
    
    #tmp_canvas {
        position: absolute;
        left: 0px; right: 0;
        bottom: 0; top: 0;
        cursor: crosshair;
        z-index: 100;
    }
}

*/
#greeting {
  width: 75vw;
}

#greeting #greeting_cont #greeting_message {
  padding-left: 3vw;
  font-size: 3rem;
  margin-top: 40vh;
}

#greeting #greeting_cont #greeting_message #status_cont {
  width: 80%;
}

#greeting #greeting_cont #greeting_message .status {
  display: inline-block;
  position: absolute;
  width: inherit;
  white-space: normal;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  pointer-events: all;
}

body.mobile #greeting {
  width: 100%;
  height: 80%;
  float: none;
}

body.mobile #greeting #greeting_cont {
  margin-top: 5vh;
}

body.mobile #greeting #greeting_cont #greeting_message {
  font-size: 2rem;
}

body.mobile #greeting #greeting_cont #greeting_message #status_cont {
  width: 80%;
  max-width: 600px;
}

body.mobile #greeting #greeting_cont #greeting_message .status {
  display: inline-block;
  position: absolute;
  width: inherit;
  white-space: normal;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  pointer-events: all;
}

#status0 {
  z-index: 1000;
}

.carusellOut {
  -webkit-transform: translateY(-50px) !important;
          transform: translateY(-50px) !important;
  opacity: 0;
  pointer-events: none;
  cursor: default;
}

.carusellIn {
  -webkit-transform: translateY(50px) !important;
          transform: translateY(50px) !important;
  opacity: 0;
  pointer-events: none;
  cursor: default;
}

#hand-wave {
  position: relative;
  top: 0;
  -webkit-transition: top ease 0.5s;
  transition: top ease 0.5s;
  display: inline-block;
}

#replayGreeting {
  position: relative;
  top: 0;
  display: inline-block;
  font-size: 1rem;
  opacity: 0.5;
  -webkit-transition: ease 0.3s;
  transition: ease 0.3s;
  cursor: copy;
}

body.non-touch #replayGreeting:hover {
  opacity: 1;
}

body.non-touch .scrollMe:hover {
  opacity: 0.7 !important;
  background-color: #eeeeee;
  color: black;
  -webkit-transform-origin: center center !important;
          transform-origin: center center !important;
  -webkit-transform: scale3d(1.05, 1.05, 1.05);
          transform: scale3d(1.05, 1.05, 1.05);
}

@media screen and (max-width: 600px) {
  .carusellOut {
    -webkit-transform: translateY(-30px) !important;
            transform: translateY(-30px) !important;
    opacity: 0;
  }
  .carusellIn {
    -webkit-transform: translateY(30px) !important;
            transform: translateY(30px) !important;
    opacity: 0;
  }
}

#work {
  margin: 0 10vw;
}

#work .workItemContainer {
  margin: 0;
  padding: 0;
  width: 70vw;
  top: 0;
  height: 100%;
  display: inline-block;
  padding: 1%;
  position: relative;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

#work .workItemContainer .workItem {
  height: auto;
  position: absolute;
  cursor: pointer;
  white-space: normal;
  -webkit-transition: ease-in-out 200ms;
  transition: ease-in-out 200ms;
}

#work .workItemContainer .workItem img {
  position: relative;
  -webkit-transition: inherit;
  transition: inherit;
  width: 100%;
  max-height: 80vh;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
  border: 0.5px solid #e9e9e9;
  -webkit-box-shadow: 0px 5px 15px -10px rgba(122, 122, 122, 0.6);
  box-shadow: 0px 5px 15px -10px rgba(122, 122, 122, 0.6);
}

#work .workItemContainer .workItem h1 {
  position: relative;
  -webkit-transition: inherit;
  transition: inherit;
  opacity: 0;
  width: 50%;
}

#work .workItemContainer #item0 {
  bottom: 0;
  left: 0;
  -webkit-transform: scale(0.7, 0.7);
          transform: scale(0.7, 0.7);
}

#work .workItemContainer #item1 {
  top: 2%;
  right: 0;
  -webkit-transform: scale(0.8, 0.8);
          transform: scale(0.8, 0.8);
}

#work .workItemContainer #item2 {
  bottom: 3%;
  left: 0;
  -webkit-transform: scale(0.8, 0.8);
          transform: scale(0.8, 0.8);
}

#work .workItemContainer #item3 {
  bottom: 0;
  left: 0;
  -webkit-transform: scale(0.7, 0.7);
          transform: scale(0.7, 0.7);
}

#work .workItemContainer #item4 {
  top: 10%;
  right: 0;
  -webkit-transform: scale(0.9, 0.9);
          transform: scale(0.9, 0.9);
}

#work .workItemContainer #item5 {
  bottom: 10%;
  right: 0;
  -webkit-transform: scale(0.6, 0.6);
          transform: scale(0.6, 0.6);
}

body.non-touch .workItem:hover img {
  -webkit-box-shadow: 0px 10px 30px -10px rgba(122, 122, 122, 0.6) !important;
  box-shadow: 0px 10px 30px -10px rgba(122, 122, 122, 0.6) !important;
  -webkit-transform: translateY(-5px) rotate(0.5deg);
          transform: translateY(-5px) rotate(0.5deg);
}

body.non-touch .workItem:hover h1 {
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
  opacity: 1 !important;
}

body.mobile #work {
  margin: 0;
  padding: 0 !important;
}

body.mobile #work .workItemContainer {
  position: relative;
  top: 0;
  width: 100vw;
  height: auto;
  margin: 0;
  padding: 0 10px;
}

body.mobile #work .workItemContainer .workItem {
  position: relative;
  scale: unset;
  padding: 0;
  margin-bottom: 10vh;
}

body.mobile #work .workItemContainer .workItem img {
  position: relative;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
  -webkit-box-shadow: unset;
  box-shadow: unset;
  width: 100%;
  max-height: unset;
}

body.mobile #work .workItemContainer .workItem h1 {
  position: relative;
  -webkit-transition: inherit;
  transition: inherit;
  opacity: 1;
  width: 75%;
  margin: 0 auto;
  text-align: center;
  font-weight: normal;
  margin-top: 20px;
}

body.mobile #work .workItemContainer #item0 {
  top: unset;
  left: unset;
  -webkit-transform: unset;
          transform: unset;
}

body.mobile #work .workItemContainer #item1 {
  top: unset;
  left: unset;
  -webkit-transform: unset;
          transform: unset;
}

body.mobile #work .workItemContainer #item2 {
  top: unset;
  left: unset;
  -webkit-transform: unset;
          transform: unset;
}

body.mobile #work .workItemContainer #item3 {
  top: unset;
  left: unset;
  -webkit-transform: unset;
          transform: unset;
}

body.mobile #work .workItemContainer #item4 {
  top: unset;
  left: unset;
  -webkit-transform: unset;
          transform: unset;
}

body.mobile #work .workItemContainer #item5 {
  top: unset;
  left: unset;
  -webkit-transform: unset;
          transform: unset;
}

#about {
  width: 100vw;
  white-space: normal;
  margin-left: 20%;
}

#about #bioContainer {
  width: 50%;
  float: left;
  padding: 20px;
  height: auto;
}

#about #bioContainer #bio {
  position: absolute;
  top: 12%;
}

#about #bioContainer #bio img {
  height: 40vh;
  -o-object-fit: cover;
     object-fit: cover;
  width: 25%;
}

#about #bioContainer #bio ul {
  margin-top: 20px;
}

#about #cv {
  width: 50%;
  float: left;
  padding: 20px;
  height: auto;
  overflow-wrap: break-word;
  word-wrap: break-word;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
}

#about #cv ul {
  position: absolute;
  width: 80%;
  bottom: 5%;
}

body.mobile #about {
  position: relative;
  margin: 0;
  padding: 0 10px;
  white-space: unset;
  width: 100%;
  height: auto;
  clear: both;
  margin-top: 20vh;
  margin-bottom: 20vh;
}

body.mobile #about #bioContainer {
  position: inherit;
  width: 100%;
  padding: 0;
  height: auto;
  margin-left: 5%;
}

body.mobile #about #bioContainer #bio {
  position: inherit;
  float: none;
}

body.mobile #about #bioContainer #bio img {
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  width: 75%;
}

body.mobile #about #cv {
  position: inherit;
  width: 100%;
  height: auto;
  padding: 0;
  margin-left: 35%;
  margin-right: 5%;
}

body.mobile #about #cv ul {
  width: 60%;
  position: inherit;
  bottom: unset;
  left: unset;
}

body.mobile #about #cv ul li h1 {
  text-align: right;
}

body.mobile #about #cv ul li p {
  text-align: right;
}

#contact {
  width: 100vw;
}

#contact #info {
  position: absolute;
  top: 30%;
  left: 30%;
}

#contact #easter {
  position: absolute;
  right: 10px;
  bottom: 10px;
  opacity: 0.5;
  cursor: w-resize;
  -webkit-transition: ease 200ms;
  transition: ease 200ms;
  padding: 10px;
}

body.non-touch #easter:hover {
  opacity: 1 !important;
}

body.mobile #contact {
  padding: 10px;
  position: relative;
  top: 20vh;
  padding-bottom: 40vh !important;
}

body.mobile #contact #info {
  position: relative;
  top: unset;
  left: unset;
}

body.mobile #contact #info ul li {
  font-size: 1.2rem;
  margin: 20px 0;
}

body.mobile #contact #easter {
  position: absolute;
  right: 5px;
  bottom: 5px;
  opacity: 0.7;
  cursor: n-resize;
  padding: 10px;
}

#overlay {
  position: absolute !important;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  opacity: 1;
  -webkit-transform: translate3d(0px, 0px, 0px);
          transform: translate3d(0px, 0px, 0px);
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

#overlay #close_btn {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 40px;
  height: 40px;
  padding: 10px;
  border-radius: 20px;
  font-size: 1rem;
  opacity: 1;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
  z-index: 1001;
  cursor: s-resize !important;
}

#overlay #exp_btn {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  padding: 10px;
  border-radius: 20px;
  opacity: 1;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
  z-index: 1001;
  cursor: nesw-resize !important;
}

#overlay #port_content {
  position: absolute;
  top: 5%;
  left: 10%;
  padding: 0;
  width: 80%;
  height: 90%;
  opacity: 1 !important;
  background-color: #ffffff;
  border-radius: 10px;
  border: solid 1px #eaeaea;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(122, 122, 122, 0.2);
  box-shadow: 0px 0px 20px 0px rgba(122, 122, 122, 0.2);
  overflow-y: scroll;
  overflow-x: hidden;
}

#overlay #port_content #parentNode {
  position: relative;
  width: 100%;
  height: auto;
}

#overlay #port_content * {
  margin: 0;
  padding: 0;
  padding-left: 2%;
  padding-right: 2%;
  margin: 0 auto;
  height: auto;
  white-space: normal;
}

#overlay #port_content a {
  padding: 0;
  margin: 0;
}

#overlay #port_content img {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 75vh;
  -o-object-fit: cover;
     object-fit: cover;
}

#overlay #port_content h1 {
  font-size: 2rem;
  margin: 0;
  margin-top: 40px;
  margin-bottom: 30px;
  text-align: left;
}

#overlay #port_content #item_info {
  padding: 0;
  margin: 0;
  margin-top: 40px;
  margin-bottom: 20px;
  clear: both;
}

#overlay #port_content #item_info span {
  font-weight: bold;
  padding-right: 5px;
}

#overlay #port_content #item_info ul {
  font-size: 1rem;
  font-weight: 100;
  margin: 0;
}

#overlay #port_content #item_info ul li {
  padding: 0;
  margin: 0;
  margin-top: 15px;
}

#overlay #port_content .contentQuote {
  margin-top: 10px;
  -webkit-transform: translateY(-50px);
          transform: translateY(-50px);
  line-height: 1.6;
  text-align: right;
  font-size: 1.4rem;
  font-weight: 700;
  padding-top: 40px;
  padding-bottom: 20px;
  padding-left: 30%;
  width: 100%;
  opacity: 1;
}

#overlay #port_content .contentText {
  text-align: left;
  font-size: 1rem;
  padding-bottom: 20px;
  margin-bottom: 5vh;
  margin-right: 20%;
  width: 80%;
  max-width: 800px;
}

#overlay #port_content .contentHeader {
  margin-top: 15vh;
  text-align: left;
  font-size: 1.4rem;
  font-weight: 700;
  margin-bottom: 15px;
  margin-right: 20%;
  width: 80%;
  max-width: 800px;
  opacity: 1;
}

#overlay #port_content .contentImage {
  width: 85%;
  margin-left: 7.5%;
  height: auto;
  padding: 3vw;
  padding: 50px 0;
}

#overlay #port_content .contentCaption {
  text-align: center;
  font-size: 0.8rem;
  opacity: 0.4;
  padding-bottom: 40px;
  padding-top: 20px;
  padding-right: 10%;
  padding-left: 10%;
  margin-bottom: 5vh;
  width: 80%;
  margin-left: 10%;
}

#overlay #port_content hr {
  margin: 0 auto;
  clear: both;
  width: 75%;
  margin-top: 80px;
  margin-bottom: 80px;
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

#overlay #port_content .contentVideo {
  padding: 20px;
  padding-bottom: 10px;
  clear: both;
  width: 100%;
  height: auto;
  margin: 0 auto;
}

#overlay #more_link {
  margin: 0 auto;
  width: 100%;
  clear: both;
  text-align: center;
  position: relative;
  padding: 100px;
}

#overlay #more_link a {
  padding: 10px;
  color: black;
  border-radius: 10px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  border: 2px solid #eeeeee;
  cursor: s-resize;
}

#port_content::-webkit-scrollbar {
  display: none;
}

#port_content {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body.non-touch #close_btn:hover {
  background-color: #eeeeee;
  -webkit-transform: scale(0.9) !important;
          transform: scale(0.9) !important;
}

body.non-touch #exp_btn:hover {
  background-color: #eeeeee;
  -webkit-transform: scale(1.1) !important;
          transform: scale(1.1) !important;
}

body.non-touch #more_link a:hover {
  text-decoration: none;
  background-color: #eeeeee !important;
}

.hidden {
  pointer-events: none !important;
  opacity: 0 !important;
  -webkit-transform: scale3d(0.9, 0.9, 0.9) translate3d(0px, 100px, 0px) !important;
          transform: scale3d(0.9, 0.9, 0.9) translate3d(0px, 100px, 0px) !important;
  position: fixed !important;
  -webkit-transition-property: opacity, -webkit-transform !important;
  transition-property: opacity, -webkit-transform !important;
  transition-property: opacity, transform !important;
  transition-property: opacity, transform, -webkit-transform !important;
  -webkit-transition: 0.2s !important;
  transition: 0.2s !important;
}

.visible {
  z-index: 10000 !important;
  pointer-events: all !important;
  opacity: 1 !important;
  -webkit-transform: scale3d(1, 1, 1) translate3d(0px, 0px, 0px) !important;
          transform: scale3d(1, 1, 1) translate3d(0px, 0px, 0px) !important;
  position: fixed !important;
  -webkit-transition-property: opacity, -webkit-transform !important;
  transition-property: opacity, -webkit-transform !important;
  transition-property: opacity, transform !important;
  transition-property: opacity, transform, -webkit-transform !important;
  -webkit-transition: 0.2s !important;
  transition: 0.2s !important;
}

.remove {
  display: none;
}

.noScroll {
  overflow: hidden !important;
  -ms-touch-action: none;
      touch-action: none;
}

.blur {
  -webkit-transition: all 0.2s !important;
  transition: all 0.2s !important;
  opacity: 0.2 !important;
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -webkit-filter: blur(5px);
  filter: blur(5px);
}

.darken {
  -webkit-filter: brightness(50%);
          filter: brightness(50%);
}

.exp_overlay {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  width: 100% !important;
  height: 100% !important;
  margin-top: 0px !important;
  border-radius: 0 !important;
  max-width: 100vw !important;
  top: 0 !important;
  left: 0 !important;
}

.exp_overlay .contentImage {
  width: 100%;
  height: auto;
  padding: 20px;
  padding-bottom: 10px;
  padding-top: 0;
  clear: both;
}

.exp_overlay h1, .exp_overlay h2, .exp_overlay h3, .exp_overlay p, .exp_overlay ul {
  width: 100%;
  max-width: 1200px;
  padding-left: calc(100% - 90%);
  padding-right: calc(100% - 90%);
  margin: 0 auto;
}

.exp_overlay .contentQuote {
  padding-left: 20% !important;
}

body.mobile #overlay #port_content {
  width: 100%;
  height: 100%;
  margin-top: 0px;
  border-radius: 0;
  border: solid 0px #eaeaea;
  top: 0;
  left: 0;
}

body.mobile #overlay #port_content .contentQuote {
  margin-top: 20px;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  line-height: 1.2;
  padding-left: 20%;
}

body.mobile #overlay #port_content .contentText {
  text-align: left;
  font-size: 1rem;
  margin-bottom: 50px;
  padding-right: 10%;
  width: 100%;
  float: left;
  clear: both;
  margin: 3vh 0;
}

body.mobile #overlay #port_content .contentHeader {
  margin-bottom: 10px;
}

body.mobile #overlay #port_content .contentCaption {
  text-align: center;
  font-size: 0.8rem;
  opacity: 0.4;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-right: 5%;
  padding-left: 5%;
  margin-bottom: 2vh;
  width: 90%;
  margin-left: 5%;
  float: left;
  clear: both;
}

body.mobile #overlay #port_content hr {
  margin-top: 40px;
  margin-bottom: 40px;
}

body.mobile #overlay #close_btn {
  top: 15px;
  left: 15px;
  background-color: #eeeeee;
}

body.mobile #overlay #exp_btn {
  display: none;
}

.blur {
  -moz-filter: blur(0px);
  -o-filter: blur(0px);
  -webkit-filter: blur(0px);
  filter: blur(0px);
}
/*# sourceMappingURL=style.css.map */