
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');

html{
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #f7f7f7;
    color: #252b33;
    transition: all 0.2;
    font-size: 16px;
}

a{
    color: #252b33;
    text-decoration: underline;
    transition: all 0.2s;
    -webkit-text-decoration-color: #C0C0C0; /* Safari */  
      text-decoration-color: #C0C0C0;
      cursor: pointer;
}

a:hover{
    transition: all 0.2s;
    filter: brightness(200%);
}

ul{
    list-style-type: none;
      margin: 0;
      padding: 0;
}

body::-webkit-scrollbar {
    display: none;
}

body {
    -ms-overflow-style: none;
}

/* - - - - - - - - */

body{ 
    font-family: 'Roboto Slab', monospace;
    display: block;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;

    overflow-x: hidden;
    /*
    overflow-y: scroll;
    
    scroll-snap-type: y mandatory;
    */
}

h1{
    font-weight: normal;
    font-size: 2rem;
    padding: 0;
    margin: 0;
}

h2{
    font-weight: bold;
    padding: 0;
    margin: 0;
}

p,li,div{
    font-weight: normal;
    font-size: 1rem;
    padding: 0;
    margin: 0;
}

/* - - - - - - - - */

.nav{
    position: fixed;
    top: 0;
    width: 15vw;
    height: 100%;
    
    text-align: right;

    display: flex;
    flex-direction: column;
    justify-content: center;
    /*resize: vertical;*/
    overflow: auto;
}

section{
    /*position: absolute;*/
    top:0;
    margin-left: 20vw;
    height: 100vh;

    opacity: 1;
    transition: all 0.2s;
    
	/*
    scroll-snap-align: start;
	*/

    display: flex;
    flex-direction: column;
    justify-content: center;
    /*resize: vertical;*/
    overflow: auto;
}

/*
.hidden{
    pointer-events: none;
    z-index: -100;
    opacity: 0;
}*/

/*- - - - -- - */

.section_content{
    margin: 0;
}

#menu{
    margin: 0;
}

#menu li{
    margin: 5px;
}