@import url(//db.onlinewebfonts.com/c/b6e1e126bc19c3e9fe26136203746a13?family=Kefa+PressS);
@font-face {
  font-family: "Kefa";
  src: url("//db.onlinewebfonts.com/t/b6e1e126bc19c3e9fe26136203746a13.eot");
  src: url("//db.onlinewebfonts.com/t/b6e1e126bc19c3e9fe26136203746a13.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/b6e1e126bc19c3e9fe26136203746a13.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/b6e1e126bc19c3e9fe26136203746a13.woff") format("woff"), url("//db.onlinewebfonts.com/t/b6e1e126bc19c3e9fe26136203746a13.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/b6e1e126bc19c3e9fe26136203746a13.svg#Kefa PressS") format("svg");
}

body {
  background-color: #f8f8f8;
  padding: 40px;
}

body a {
  text-decoration: none;
  color: coral;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

body a:hover {
  color: #f7b9b4;
}

#button {
  background-color: coral;
  border: none;
  color: white;
  padding: 0px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  position: -webkit-sticky;
  position: sticky;
  float: right;
  right: 5px;
  top: 10px;
  z-index: 1000;
  -webkit-box-shadow: 0px 10px 20px -5px rgba(107, 107, 107, 0.5);
  box-shadow: 0px 10px 20px -5px rgba(107, 107, 107, 0.5);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#button p {
  font-size: 20px;
  font-weight: lighter;
  font-family: Kefa, 'Times New Roman', Times, serif;
}

#button:hover {
  -webkit-transform: translateY(3px);
          transform: translateY(3px);
  -webkit-box-shadow: 0px 3px 20px -5px #6b6b6b;
  box-shadow: 0px 3px 20px -5px #6b6b6b;
}

content section .whitespace {
  padding: 100px;
}

content section h1 {
  font-family: Kefa;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: #707070;
}

content section p {
  max-width: 60%;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 28px;
  cursor: default;
  color: #2E2E2E;
}

content section p #name {
  color: coral;
}

content section #profile_pic {
  display: inline;
}

content section #profile_pic #me {
  max-width: 100px;
  -webkit-transform: translateY(-160px);
          transform: translateY(-160px);
  z-index: 100px;
  margin-left: -10px;
}

content section #profile_pic #profile {
  max-width: 200px;
  margin: 10px;
  cursor: default;
}

content section #profile_pic #briller {
  display: none;
  position: relative;
  max-width: 80px;
  left: -240px;
  top: -105px;
  -webkit-transform: rotate(10deg);
          transform: rotate(10deg);
}

content section #profile_pic #bart {
  display: none;
  position: relative;
  max-width: 50px;
  left: -297px;
  top: -80px;
  -webkit-transform: rotate(15deg);
          transform: rotate(15deg);
}

content section #profile_pic:hover #briller, content section #profile_pic:hover #bart {
  display: inline-block;
}

content .portfolio {
  cursor: default;
  /* Style the buttons */
}

content .portfolio .back_btn img {
  margin-top: 20px;
  -webkit-transform: translateX(5px);
          transform: translateX(5px);
  max-width: 40px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

content .portfolio .back_btn img:hover {
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
}

content .portfolio #madeit {
  position: absolute;
  z-index: 2000;
  max-width: 120px;
  top: 80px;
  left: 160px;
}

content .portfolio .row {
  margin: 10px -16px;
}

content .portfolio .row,
content .portfolio .row > .column {
  padding: 8px;
}

content .portfolio .column {
  float: left;
  width: 30%;
  display: none;
}

content .portfolio .row:after {
  content: "";
  display: table;
  clear: both;
}

content .portfolio .content {
  background-color: #f8f8f8;
  padding: 10px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  position: relative;
}

content .portfolio .content img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  max-height: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

content .portfolio .content .description {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 80%;
  text-align: left;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
  opacity: 0;
}

content .portfolio .content:hover {
  background-color: #f8f8f8;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  -webkit-box-shadow: 0px 5px 10px -5px #6b6b6b;
  box-shadow: 0px 5px 10px -5px #6b6b6b;
}

content .portfolio .content:hover img {
  opacity: 0.2;
  -webkit-filter: grayscale(90%);
          filter: grayscale(90%);
}

content .portfolio .content:hover .description {
  opacity: 1;
}

content .portfolio .show {
  display: block;
}

content .portfolio .btn {
  font-family: Kefa;
  font-style: normal;
  font-weight: 100;
  font-size: 12px;
  margin-top: 10px;
  border: none;
  outline: none;
  padding: 12px 25px;
  background-color: #f8f8f8;
  color: coral;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

content .portfolio .btn:hover {
  background-color: #f8f8f8;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  -webkit-box-shadow: 0px 5px 10px -5px #6b6b6b;
  box-shadow: 0px 5px 10px -5px #6b6b6b;
}

content .portfolio .btn.active {
  background-color: coral;
  color: white;
}

content .portfolio h4 {
  font-family: Kefa;
  font-style: normal;
  font-weight: normal;
  font-size: 110%;
  margin-top: 15px;
  margin: 10px;
  color: #494949;
}

content .portfolio p {
  max-width: 80%;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  margin: 10px;
  color: #707070;
}

content .other ul {
  list-style: none;
  float: left;
  margin: 10px -40px;
}

content .other ul li {
  font-family: Kefa;
  font-style: normal;
  font-weight: normal;
  font-size: 110%;
  margin-bottom: 20px;
  color: #707070;
}

content .other ul li a {
  text-decoration: none;
  color: coral;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

content .other ul li a:hover {
  color: #f7b9b4;
}

content .other ul li #contact_bullet {
  position: relative;
  max-width: 15px;
  -webkit-transform: rotate(10deg);
          transform: rotate(10deg);
  left: 10px;
}

content .other h4 {
  font-family: Kefa;
  font-style: normal;
  font-weight: normal;
  font-size: 110%;
  margin-top: 20px;
  color: #707070;
}

content .other #hello {
  position: relative;
  max-width: 55px;
  top: -50px;
  left: 50px;
}

content .bulb {
  max-width: 10px;
  position: relative;
  bottom: 0;
  right: 0;
}

.portfolio_btn {
  font-family: Kefa;
  font-style: normal;
  font-weight: normal;
  font-size: 110%;
  margin-top: 15px;
  border: none;
  text-align: center;
  display: inline;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.portfolio_btn a {
  text-decoration: none;
  z-index: 100;
}

.portfolio_btn #sparkels {
  max-width: 250px;
  z-index: 0;
  margin-left: -35px;
  /*
        margin-left: -210px; 
        transform: translateY(25px);
        */
}

.portfolio_btn #port_link {
  position: relative;
  z-index: 0;
  margin-left: -220px;
  -webkit-transform: translateY(-100px);
          transform: translateY(-100px);
  z-index: 1000;
  bottom: 25px;
}

.grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-template-areas: "item1 item2" "item3 item4";
  margin-left: -10px;
  width: 60%;
}

.grid-container a {
  text-decoration: none;
  color: coral;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.grid-container a:hover {
  color: #f7b9b4;
}

.grid-container p {
  cursor: default;
}

.item1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: item1;
}

.item2 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: item2;
}

.item3 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: item3;
}

.item4 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: item4;
}

@media only screen and (max-width: 800px) {
  content .portfolio .column {
    float: left;
    width: 40%;
  }
  content section p {
    max-width: 90%;
    font-size: 0.8;
    font-size: 20px;
  }
  body {
    padding: 10px;
  }
  #button {
    margin: 5px;
  }
  #button p {
    font-size: 15px;
  }
  content .portfolio .content {
    background-color: white;
    padding: 10px;
    margin: 0 auto;
  }
  .grid-container {
    width: 100%;
  }
  .portfolio_btn #sparkels {
    max-width: 250px;
    z-index: 0;
    margin-left: -15px;
  }
}

@media only screen and (max-width: 600px) {
  content .portfolio .column {
    float: left;
    width: 95%;
  }
  content section #profile_pic #profile {
    max-width: 150px;
    margin: 10px;
    cursor: default;
  }
  content section #profile_pic #me {
    max-width: 75px;
    -webkit-transform: translateY(-160px);
    transform: translateY(-120px);
    z-index: 100px;
  }
  .grid-container {
    width: 100%;
  }
  content section #profile_pic #briller {
    max-width: 60px;
    left: -185px;
    top: -83px;
  }
  content section #profile_pic #bart {
    max-width: 40px;
    left: -228px;
    top: -62px;
  }
  content .portfolio #madeit {
    position: absolute;
    z-index: 2000;
    max-width: 100px;
    top: 60px;
    left: 120px;
  }
}
/*# sourceMappingURL=style.css.map */