@import url(//db.onlinewebfonts.com/c/b6e1e126bc19c3e9fe26136203746a13?family=Kefa+PressS);
@font-face {font-family: "Kefa";
    src: url("//db.onlinewebfonts.com/t/b6e1e126bc19c3e9fe26136203746a13.eot");
    src: url("//db.onlinewebfonts.com/t/b6e1e126bc19c3e9fe26136203746a13.eot?#iefix") format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/b6e1e126bc19c3e9fe26136203746a13.woff2") format("woff2"),
    url("//db.onlinewebfonts.com/t/b6e1e126bc19c3e9fe26136203746a13.woff") format("woff"),
    url("//db.onlinewebfonts.com/t/b6e1e126bc19c3e9fe26136203746a13.ttf") format("truetype"),
    url("//db.onlinewebfonts.com/t/b6e1e126bc19c3e9fe26136203746a13.svg#Kefa PressS") format("svg");
}

body{
    background-color: #f8f8f8;
    padding: 40px;

    a{
        text-decoration: none;
        color:coral;
        transition: 0.3s;
    }

    a:hover{
        color: #f7b9b4;
    }
}

#button{
    background-color: coral;
    border: none;
    color: white;
    padding: 0px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;

    margin: 4px 2px;
    cursor: pointer;

    position: sticky;
    float: right;
    right: 5px;
    top: 10px;

    z-index: 1000;

    p{
        font-size: 20px;
        font-weight: lighter;
        font-family: Kefa, 'Times New Roman', Times, serif;
    }

    -webkit-box-shadow: 0px 10px 20px -5px rgba(107,107,107,0.5);
    -moz-box-shadow: 0px 10px 20px -5px rgba(107,107,107,0.5);
    box-shadow: 0px 10px 20px -5px rgba(107,107,107,0.5);

    transition: 0.3s;
}

#button:hover{
    transform: translateY(3px);
    -webkit-box-shadow: 0px 3px 20px -5px rgba(107,107,107,1);
    -moz-box-shadow: 0px 3px 20px -5px rgba(107,107,107,1);
    box-shadow: 0px 3px 20px -5px rgba(107,107,107,1);
}

content{

    section{
        .whitespace{
            padding: 100px;

        }

        h1{
            font-family: Kefa;
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            color: #707070;
        }
        p{
            max-width: 60%;
            font-family: Georgia;
            font-style: normal;
            font-weight: normal;
            font-size: 25px;
            line-height: 28px;
            cursor: default;

            #name{
                color: coral;
            }
            color: #2E2E2E;
        }

        #profile_pic{
            #me{
                max-width: 100px;
                transform: translateY(-160px);
                z-index: 100px;
                margin-left: -10px;
            }
            #profile{
                max-width: 200px;
                margin: 10px;
                cursor: default;
            }

            display: inline;

            #briller{
                display: none;
                position: relative;
                max-width: 80px;
                left: -240px;
                top: -105px;
                transform: rotate(10deg);  
            }
            #bart{
                display: none;
                position: relative;
                max-width: 50px;
                left: -297px;
                top: -80px;
                transform: rotate(15deg);
            }
        }
        #profile_pic:hover{
            #briller,#bart{
                display: inline-block;
            }
        }
    }

    .portfolio{

        .back_btn{
            //margin-top: 20px;
            img{
                margin-top: 20px;
                transform: translateX(5px);
                max-width: 40px;
                transition: 0.3s;
            }
            img:hover{
                transform: translateX(-0px);
            }
        }
        
        #madeit{
            position: absolute;
            z-index: 2000;
            max-width: 120px;
            top: 80px;
            left: 160px;
        }


        cursor: default;

        .row {
            margin: 10px -16px;
        }
        .row,
        .row > .column {
            padding: 8px;
        }
          
        .column {
            float: left;
            width: 30%;
            display: none; 
        }
        .row:after {
            content: "";
            display: table;
            clear: both;
        }
        .content {
            background-color: #f8f8f8;
            padding: 10px;
            transition: 0.3s;
            position: relative;

            img{
                object-fit: cover;
                width: 100%;
                max-height: 100%;
                backface-visibility: hidden;
                transition: 0.3s all;      
            }

            .description{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 80%;
                text-align: left;
                transition: 0.3s all;
                opacity: 0;
            }
        }

        .content:hover{
            background-color: #f8f8f8;
            transform: translateY(-5px);
            -webkit-box-shadow: 0px 5px 10px -5px rgba(107,107,107,1);
            -moz-box-shadow: 0px 5px 10px -5px rgba(107,107,107,1);
            box-shadow: 0px 5px 10px -5px rgba(107,107,107,1);

            img{
                opacity: 0.2;
                filter: grayscale(90%);
            }

            .description{
                opacity: 1;
            }
        }
        .show {
            display: block;
        }
          
          /* Style the buttons */
        .btn {
            font-family: Kefa;
            font-style: normal;
            font-weight: 100;
            font-size: 12px;
            margin-top: 10px;

            border: none;
            outline: none;
            padding: 12px 25px;
            background-color: #f8f8f8;
            color: coral;
            cursor: pointer;
            transition: 0.3s;
        }
          
        .btn:hover {
            background-color: #f8f8f8;
            transform: translateY(-5px);
            -webkit-box-shadow: 0px 5px 10px -5px rgba(107,107,107,1);
            -moz-box-shadow: 0px 5px 10px -5px rgba(107,107,107,1);
            box-shadow: 0px 5px 10px -5px rgba(107,107,107,1);
        }
          
        .btn.active {
            background-color: coral;
            color: white;
        }

        h4{
            font-family: Kefa;
            font-style: normal;
            font-weight: normal;
            font-size: 110%;
            margin-top: 15px;
            margin: 10px;
            color: #494949;
        }
        p{
            max-width: 80%;
            font-family: Georgia;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 20px;
            //transform: translateY(-10px);
            margin: 10px;

            color: #707070;
        }
    
    }

    .other{
        ul{
            list-style: none;
            float:left;
            margin: 10px -40px;

            li{
                font-family: Kefa;
                font-style: normal;
                font-weight: normal;
                font-size: 110%;
                margin-bottom: 20px;
                color: #707070;

                a{
                    text-decoration: none;
                    color:coral;
                    cursor: pointer;
                    transition: 0.3s;
                }
                a:hover{ 
                    color: #f7b9b4;
                }

                #contact_bullet{
                    position: relative;
                    max-width: 15px;
                    transform: rotate(10deg);
                    left: 10px;
                }
            }
        }

        h4{
            font-family: Kefa;
            font-style: normal;
            font-weight: normal;
            font-size: 110%;
            margin-top: 20px;
            color: #707070;
        }

        #hello{
            position: relative;
            max-width: 55px;
            top: -50px;
            left: 50px;
        }
    }

    .bulb{
        max-width: 10px;
        position: relative;
        bottom:0;
        right:0;
    }

}

.portfolio_btn{
    font-family: Kefa;
    font-style: normal;
    font-weight: normal;
    font-size: 110%;
    margin-top: 15px;
    border: none;
    text-align: center;
    display: inline;
    a{
        text-decoration: none;
        z-index: 100;
    }
    transition: 0.3s;

    #sparkels{
        max-width: 250px;
        z-index: 0;
        margin-left: -35px;
        /*
        margin-left: -210px; 
        transform: translateY(25px);
        */
    }

    #port_link{
        position: relative;
        z-index: 0;
        margin-left: -220px; 
        transform: translateY(-100px);
        z-index: 1000;
        bottom: 25px;
    }
    

}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "item1 item2" "item3 item4";
    //float: left;
    margin-left:-10px;
    width: 60%;

    a{
        text-decoration: none;
        color:coral;
        transition: 0.3s;
    }

    a:hover{
        color: #f7b9b4;
    }

    p{
        cursor: default;
    }
}

.item1 { grid-area: item1; }

.item2 { grid-area: item2; }

.item3 { grid-area: item3; }

.item4 { grid-area: item4; }


//RESPONSIVITET

@media only screen and (max-width: 800px) {
    content .portfolio .column {
        float: left;
        width: 40%;
    }

    content section p {
        max-width: 90%;
        font-size: 0.8;
        font-size: 20px;
    }

    body{
        padding: 10px;
    }

    #button{
        margin: 5px;
        p{
            font-size: 15px;
        }
    }

    content .portfolio .content {
        background-color: white;
        padding: 10px;
        margin: 0 auto;
    }

    .grid-container{
        width: 100%;
    }

    .portfolio_btn #sparkels {
        max-width: 250px;
        z-index: 0;
        margin-left: -15px;
    }
    
}


@media only screen and (max-width: 600px) {
    content .portfolio .column {
        float: left;
        width: 95%;
    }

    content section #profile_pic #profile {
        max-width: 150px;
        margin: 10px;
        cursor: default;
    }

    content section #profile_pic #me {
        max-width: 75px;
        -webkit-transform: translateY(-160px);
        transform: translateY(-120px);
        z-index: 100px;
    }

    .grid-container{
        width: 100%;
    }

    content section #profile_pic #briller {
        max-width: 60px;
        left: -185px;
        top: -83px;
    }

    content section #profile_pic #bart {
        max-width: 40px;
        left: -228px;
        top: -62px;
    }

    content .portfolio #madeit {
        position: absolute;
        z-index: 2000;
        max-width: 100px;
        top: 60px;
        left: 120px;
    }

}


