.darkmode{
    -webkit-transition-duration: 0.8s;
    background-color: black;
    p{
        color: dimgray;
    }
    h1{
        color: dimgray;
    }
    h3{
        color: gray;
    }
    header{
        background-color: black;
    }
    .arrow-icon{
        background-color: black;
    }
    u{
        color: dimgray;
    }
}

