
.footer{
    max-width: 80%;
    margin: 0 auto;
    align-content: center;
    text-align: center;

    padding-top: 15vh;
    padding-bottom: 10vh;

    p{
        //font-size: 1em;
        margin: 0 auto;
        color:  dimgray;
        padding: 20px;
    }

    .pointer-up{
        position: relative;
        top: 0;
        transition: top ease 0.5s;
    }

    .up{
        //font-size: 1.5em;
        cursor: pointer;
        color: dimgray;
    }

    .up:hover{
        .pointer-up{
            animation: wiggle-up 1s ease;
            animation-iteration-count: 1;
        }
    }

    
}