
$header-font: 'DM Serif Text', serif;
$body-font: 'Source Sans Pro', sans-serif;
$handwritten-font: 'Kalam', cursive;
$logo-font: 'Kefa';


.back_btn{
    font-family: $body-font;
    color: #C4C4C4;
    text-decoration: none;
    a{
        color: #efefef;
    }

    u{
        text-decoration: none;
        border-bottom: 3px solid #efefef;
        cursor: pointer;
        -webkit-filter: brightness(50%);
        filter: brightness(50%);
        -webkit-transition: all .3s ease;
        -moz-transition: all .3s ease;
        -o-transition: all .3s ease;
        -ms-transition: all .3s ease;
        transition: all .3s ease;
    }

    u:hover{
        -webkit-filter: brightness(100%);
        filter: brightness(100%);
    }
}

.intro{
    padding-top: 50vh;
    width: 85%;
    margin: 0 auto;
    color: #efefef;

    .project_name{
        font-family: $header-font;
        font-size: 4em;
        padding-top: 10px;
        padding-bottom: 10px;
        pointer-events: none;
    }

    .project_description{
        margin: 0;
        font-size: 1.15rem;
        widows: 40% !important;
    }

    .project_list{
        list-style-type: none;
        li{
            box-sizing: unset !important;
        }
    }
}

ul{
    margin-top: 0;
}

.content{

    padding-top: 20vh;

    .header_container{
        width: 100%;
        height: 50%;
        overflow: hidden;
        margin: 0;
        .header_img{
            display: block;
            width: 100%;
        }
    }

    .content_description{

        width: 100%;
        text-align: center;
       

        p{
            position: relative; 
            left: -8vw;
            text-align: left;

            padding-top: 4em;
            padding-bottom: 4em;
            
            width: 60%;
            margin: 0 auto;
            color:#efefef;
            font-weight: 400;
            font-size: 2vw;
            
        }

        img{
            position: relative;
            
            left: 8vw;
            //margin: 0 auto;
            max-width: 1200px;
            //max-height: 500px;
            width: 50vw;
            height: auto;
        }
    }
}

.ext_links{
    padding-top: 10vh;
    width: 85%;
    margin: 0 auto;
    list-style-type: none;

    a{
        color:#efefef;
    }

    h3{
        padding-bottom: 20px;
        font-size: 1em;
        color: #efefef;
    }

    ul{
        padding: 0;
        list-style-type: none;
    }

    li{
        padding-bottom: 50px;
        font-family: $header-font;
        font-size: 3em;
        color: #efefef;

        u{
            text-decoration: none;
            border-bottom: 5px solid #efefef;
            cursor: pointer;
            -webkit-filter: brightness(50%);
            filter: brightness(50%);
            -webkit-transition: all .5s ease;
            -moz-transition: all .5s ease;
            -o-transition: all .5s ease;
            -ms-transition: all .5s ease;
            transition: all .5s ease;
        }
    }

    u:hover{
        -webkit-filter: brightness(100%);
        filter: brightness(100%);
    }
}

.ext-link{
    color: coral;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    -ms-transition: all .5s ease;
    transition: all .5s ease;
}

.ext-link:hover{
    text-decoration: underline;
}

@media (min-width: 1200px) {

    .project_description{
        max-width: 50vw !important;
    }

    .content_description{
        p {
            font-size: 25px !important;
        }
    }
}

@media (max-width: 700px){

    .project_description{
        max-width: 80vw !important;
    }

    .content{
        padding-top: 10vh;
        .content_description{
            p{
                width: 85%;
                padding-top: 2em;
                padding-bottom: 2em;
                font-size: 1rem;
                left:0;
            }
            img{
                padding: 30px;
                left: 0;
                width: 100%;
            }
        }
    }

    .intro{
        padding-top: 40vh;

        .project_name{
            font-size: 2em;
        }
    }

    .ext_links{
        li{
            font-size: 2em;
            padding-bottom:30px;
        }
        u{
            border-bottom: 5px solid gray;
        }
        u:hover{
            -webkit-filter: brightness(100%);
            filter: brightness(100%);
        }
    }
}





