@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

/* ----- GLOBAL AND META ----- */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style-type: none;
}

::selection {
    color: black;
    background: rgb(255, 187, 0);
}

::-webkit-scrollbar {
    display: none;
}


/* ----- BODY AND HTML -----*/

body, html{
    padding: 0;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    font-family: 'Inter', sans-serif;
    height: -webkit-fill-available; 
    box-sizing: content-box;
}

body{
    font-size: 14px;
    background-color: rgb(250, 250, 250);
    color: black;
    min-height: -webkit-fill-available;
}

body > div, body > ul, body > section{
    padding: 16px;
}

#overlay{
    position: absolute;
    z-index: 10000;
    width: 100vw;
    height: 100vh;
    background-color: white;
    opacity: 1;
    transition: opacity 1s ease;
}

/* ----- HEADER ----- */

#header *{
    margin-bottom: 2px;
}

h1{
    font-weight: 400;
    width: fit-content;
}

h2{
    font-weight: 400;
    opacity: 0.5;
}

h1,h2{
    font-size: 0.9rem;
}

a{
    color: inherit;
    font-size: 0.9rem;
    display: inline-block;
    transition: all 0.05s;
    text-decoration: none;
    opacity: 1;
    border-radius: 10000px;
    padding: 4px 8px;
    cursor: pointer;
    border: 1px solid transparent;
}

a:hover{
    border: 1px solid black;
}

a.active{
    background-color: black;
    color: white;
}

span a{
    border: unset;
    border: unset;
    padding: unset;
}

span a:hover{
    text-decoration: underline;
    background-color: unset;
    color: unset;
    border: unset;
    cursor: alias;
}

#life_wrapper{
    width: fit-content;
}

#life_wrapper span{
    display: block;
    cursor: wait;
}

#locations{
    text-transform: lowercase;
    width: fit-content;
}

#locations span{
    margin-right: 4px;
}
.strike{
    text-decoration: line-through;
}


/* CONTENT */

#content{
    display: block;
}

.section *{
    pointer-events: none;
}

.section {
    transition: opacity 0.5s ease, filter 0.3s ease, transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    filter: blur(16px); 
    transform: translateY(50px) scale(0.95);
    opacity: 0.2;
}
  
.scroll-in {
    filter: blur(0px); 
    transform: translateY(-20px) scale(1);
    opacity: 1;
}

.scroll-in *{
    pointer-events: all;
}

#header{
    transition: opacity 0.5s ease, filter 0.3s ease, transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.blurHeader{
    filter: blur(8px); 
    transform: translateY(0px) scale(0.95);
    opacity: 0.4;
}

.blurHeader * {
    pointer-events: none;
}


/* Tab selector */

.tab {
    overflow: hidden;
    transform: translateX(-4px);
}

button{
    background-color: unset;
    font-size: 1rem;
    color: rgb(25, 25, 25);
}
  
.tab button {
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 8px 8px;
    margin-right: 0px;
    transition: 0.3s;
    opacity: 0.4;
}
  
.tab button:hover {
    
    opacity: 1;
}

.tab button.active {
    text-decoration: underline;
    opacity: 1;
}
  
.tabcontent {
    display: none;    
}

#footer{
    opacity: 0.5;
    margin-top: 50px;
}

/* Galleries */

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
  
.column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
    padding: 0 4px;
}
  
.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}

.img_container{
    position: relative;
}

.img_container p{
    position: absolute;
    z-index: 1000;
    top: 24px;
    left: 16px;
    opacity: 0.9;
    font-weight: 600;
    font-size: 0.8rem;
}

.img_container p span{
    font-weight: 400;
    opacity: 0.8;
}

.onLight{
    color: rgb(25, 25, 25);
}

.onDark{
    color: rgb(245, 245, 245);
}


@media screen and (max-width: 1000px) {
    .column {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }

    .section {
        transform: translateY(-20px) scale(0.95);
    }

    .scroll-in {
        transform: translateY(0px) scale(1);
    }
}

@media screen and (max-width: 600px) {
    .column {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }
}
  

/* ----- MEDIA QUIERIES ----- */

@media only screen and (min-width: 768px) {

}

@media only screen and (max-width: 767px) {

}

@media (prefers-color-scheme: dark) {
    body{
        color:rgb(245, 245, 245);
        background-color: rgb(25, 25, 25);
    }
    #intro_section{
        color: inherit;
    }

    a:hover{
        background-color: white;
        color: black;
    }
    button{
        color: rgb(245, 245, 245);
    }
}

