* {
  box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    a{
      text-decoration: none;
      color: black;
    }
}
  
body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Kefa, 'Georgia', Times, serif;
  background: #f8f8f8;
  -webkit-transition-duration: 0.2s;

  width: 100%;
  min-height: 100vh;
  margin: 0;
}

.body_color{
  background-color: #79aff8;
}

#container{
  perspective: 30px;
  #inner{
    transition: transform 0.5s;
    -webkit-transition: transform 0.5s;
    box-shadow: 2px 2px 50px rgba(0, 0, 0, 0.2);
    width: 95vw;
    height: 95vh;
    background-color: #f8f8f8;
  }
}

.greeting{
  position: absolute;
  padding: 50px;
  font-size: 50px;
  top:0;
  left: 0;
  cursor: pointer;
  #sub1{
    transition: all 0.2s ease-in-out;
  }
  #sub2{
    visibility: visible;
    opacity: 1;
    transition: all 0.2s ease-in-out;
  }
}

.menu-item{
  position: absolute;
  padding: 50px;
  font-size: 50px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.menu-item:hover{
  animation: shake 75ms infinite;
  animation-timing-function: linear; 
  color: coral;
  .second{
    color: #79aff8;
    animation: shake 50ms infinite;
    animation-timing-function: linear; 
  }
}

.about{
  top: 0;
  right: 0;
  z-index: 10;
  .second{
    position: absolute;
    z-index: 9;
    top: 50px;
  }
}
.work{
  bottom: 0;
  left: 0;
  z-index: 10;
  .second{
    position: absolute;
    z-index: 9;
    bottom: 50px;
  }
}
.contact{
  bottom: 0;
  right: 0;
  z-index: 10;
  .second{
    position: absolute;
    z-index: 9;
    bottom: 50px;
  }
}

.desktop{
  width: 95vw;
  height: 95vh;
  background-color: #f8f8f8;
}

.blur{
  text-shadow: 0 0 10px dimgray;
  color: transparent;
  pointer-events: none;
}


.contact_page{
  width: inherit;
  height: inherit;
  ul{
    position: absolute;
    list-style: none;
    margin: 0 auto;
    width: 300px; 
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    li{
      font-size: 55px;
      padding: 10px;  
      a{
        transition: all 0.2s;
      }    
    }
  }
  a:hover{
    text-decoration: underline;
    color: coral;
  }
}

.about_page{
  /*
  width: inherit;
  height: inherit;
  */

  p{
    position: absolute;
    margin: 0 auto;
    width: 500px; 
    font-size: 40px;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    cursor: default;
  }
}

.work_page{

  position: absolute;
  width: 50%;
  height: inherit;
  overflow: scroll;

  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  margin: 0 auto;

  .row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
    flex: 25%;
    max-width: 50%;
    padding: 5px 5px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }
}

.work_page::-webkit-scrollbar{
  widows: 0 !important; 
}

.none{
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
}

.none_mouse_event{
  pointer-events: none;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}


@keyframes shake {
  0% { transform: rotate(0.5deg);
      transform: translate(2px, 0); }
  50% { transform: rotate(-0.5deg);
      transform: translate(-2px, 0); }
  100% { transform: rotate(0.5deg);
        }
}
  
  