* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
}

html a, body a {
  text-decoration: none;
  color: black;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: Kefa, 'Georgia', Times, serif;
  background: #f8f8f8;
  -webkit-transition-duration: 0.2s;
  width: 100%;
  min-height: 100vh;
  margin: 0;
}

.body_color {
  background-color: #79aff8;
}

#container {
  -webkit-perspective: 30px;
          perspective: 30px;
}

#container #inner {
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  -webkit-transition: transform 0.5s;
  -webkit-box-shadow: 2px 2px 50px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 2px 50px rgba(0, 0, 0, 0.2);
  width: 95vw;
  height: 95vh;
  background-color: #f8f8f8;
}

.greeting {
  position: absolute;
  padding: 50px;
  font-size: 50px;
  top: 0;
  left: 0;
  cursor: pointer;
}

.greeting #sub1 {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.greeting #sub2 {
  visibility: visible;
  opacity: 1;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.menu-item {
  position: absolute;
  padding: 50px;
  font-size: 50px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.menu-item:hover {
  -webkit-animation: shake 75ms infinite;
          animation: shake 75ms infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  color: coral;
}

.menu-item:hover .second {
  color: #79aff8;
  -webkit-animation: shake 50ms infinite;
          animation: shake 50ms infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

.about {
  top: 0;
  right: 0;
  z-index: 10;
}

.about .second {
  position: absolute;
  z-index: 9;
  top: 50px;
}

.work {
  bottom: 0;
  left: 0;
  z-index: 10;
}

.work .second {
  position: absolute;
  z-index: 9;
  bottom: 50px;
}

.contact {
  bottom: 0;
  right: 0;
  z-index: 10;
}

.contact .second {
  position: absolute;
  z-index: 9;
  bottom: 50px;
}

.desktop {
  width: 95vw;
  height: 95vh;
  background-color: #f8f8f8;
}

.blur {
  text-shadow: 0 0 10px dimgray;
  color: transparent;
  pointer-events: none;
}

.contact_page {
  width: inherit;
  height: inherit;
}

.contact_page ul {
  position: absolute;
  list-style: none;
  margin: 0 auto;
  width: 300px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.contact_page ul li {
  font-size: 55px;
  padding: 10px;
}

.contact_page ul li a {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.contact_page a:hover {
  text-decoration: underline;
  color: coral;
}

.about_page {
  /*
  width: inherit;
  height: inherit;
  */
}

.about_page p {
  position: absolute;
  margin: 0 auto;
  width: 500px;
  font-size: 40px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  cursor: default;
}

.work_page {
  position: absolute;
  width: 50%;
  height: inherit;
  overflow: scroll;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  margin: 0 auto;
  /* Create four equal columns that sits next to each other */
}

.work_page .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0 4px;
}

.work_page .column {
  -webkit-box-flex: 25%;
      -ms-flex: 25%;
          flex: 25%;
  max-width: 50%;
  padding: 5px 5px;
}

.work_page .column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

.work_page::-webkit-scrollbar {
  widows: 0 !important;
}

.none {
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
}

.none_mouse_event {
  pointer-events: none;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    -webkit-box-flex: 50%;
        -ms-flex: 50%;
            flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    -webkit-box-flex: 100%;
        -ms-flex: 100%;
            flex: 100%;
    max-width: 100%;
  }
}

@-webkit-keyframes shake {
  0% {
    -webkit-transform: rotate(0.5deg);
            transform: rotate(0.5deg);
    -webkit-transform: translate(2px, 0);
            transform: translate(2px, 0);
  }
  50% {
    -webkit-transform: rotate(-0.5deg);
            transform: rotate(-0.5deg);
    -webkit-transform: translate(-2px, 0);
            transform: translate(-2px, 0);
  }
  100% {
    -webkit-transform: rotate(0.5deg);
            transform: rotate(0.5deg);
  }
}

@keyframes shake {
  0% {
    -webkit-transform: rotate(0.5deg);
            transform: rotate(0.5deg);
    -webkit-transform: translate(2px, 0);
            transform: translate(2px, 0);
  }
  50% {
    -webkit-transform: rotate(-0.5deg);
            transform: rotate(-0.5deg);
    -webkit-transform: translate(-2px, 0);
            transform: translate(-2px, 0);
  }
  100% {
    -webkit-transform: rotate(0.5deg);
            transform: rotate(0.5deg);
  }
}
/*# sourceMappingURL=style.css.map */