html, body{
    padding: 0;
    margin: 0;
    font-family: 'Space Grotesk', sans-serif;
    background-color: #F5F5F5;
}

a{
    text-decoration: none;
}

ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}