
.sitemenu{
    position: absolute;

    .menu{
        font-weight: bold;
        font-size: 1.2rem;

        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 8px 16px;

        .chev_cont{
            img{
                transform: rotate(180deg);
            }
        }
    }

    .menu_list{
        ul{
            li{
                margin: 8px 0 8px 0;
            }
        }
    }
}
