* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

*::-webkit-scrollbar {
    display: none;
}

html{
    font-size: 16px;
    font-size: 1vw;

    scroll-behavior: smooth;
    transform: translateZ(0);

    width: 100%;
    height: 100%;
}
  
body {
    margin: 0;
    scrollbar-width: none;
    margin: 0 auto !important;
    opacity: 1;

    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

    transition: opacity 200ms;

    overflow: hidden;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

body::-webkit-scrollbar {
    display: none !important;
}

.disableYScrolling{
    overflow-y: hidden !important;
}

#greeting::-webkit-scrollbar {
    display: none !important;
}

h1{
    font-size: 1.2rem;
    font-weight: 600;
    text-align: left;
    padding-top: 10px;
    margin-bottom: 10px;    
}

p{
    line-height: normal;
    font-size: 1rem;
    margin-top: 10px;
    margin-bottom: 10px;
}

a{
    text-decoration: none;
    cursor: alias;
    transition: opacity .2s;
}


body.non-touch a:hover {
    opacity: 0.5;
}

ul{
    margin-top: 0px;
    margin-bottom: 40px;

    li{
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

#content{
    width: auto;
    height: 100vh;
    width: auto;
    white-space: nowrap;
    position: relative;

    opacity: 1;
    transition: opacity 1000ms;

    overflow-x: scroll;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
}

section{
    position: relative;
    top:0;
    padding: 0;
    margin: 0;
    height: 100%;
    display: inline-block;
    white-space: nowrap; 
    vertical-align: text-top;
    vertical-align: middle;
}

#header{
    position: fixed;
    z-index: 1000;
    padding: 3vw;

    font-weight: bold;
    font-size: 1.3rem;
    width: 100vw;

    ul{
        margin-left: 5px;
        font-weight: normal;
        display: inline;
        
        li{
            position: relative;
            display: inline;
            transition: ease 200ms;
            top:0;
            cursor: w-resize;
            transition: .2s;
        }

        .hidden_nav{
            opacity: 0;
            top: 5px;
            pointer-events: none;
        }
    }
    
}

body.non-touch #header ul li:hover{
    opacity: 0.7;
}

body.mobile #header{
    //padding: 20px;
    padding: 5%;

    ul{
        margin-top: 5px;
        font-weight: normal;
        display: block;
        li{
            cursor: n-resize;
        }
    }
}

body.non-touch #greeting:hover{
    #hand-wave{
        animation: shake 90ms ease;
        animation-iteration-count: 8; 
    }
}

body.mobile #content{
    width: 100%;
    height: 100%;
    white-space:initial;
    position: relative;

    overflow-x: hidden;
    overflow-y: scroll !important;
    -webkit-overflow-scrolling: touch;
}

body.mobile section{
    position: relative;
    top:0;
    margin: 0;
    height: auto;
    display: block;
    white-space: initial;
    padding: 0;
    clear:both;
}


@keyframes shake {
    0% { transform: rotate(10deg); }
    50% { transform: rotate(-10deg); }
    100% { transform: rotate(10deg); }
}


@media screen and (max-width: 1024px) {

    html{
        font-size: 12px;
    }

    ul{
        li{
            margin-top: 5px;
            margin-bottom: 5px;
        }
    }

    p{
        margin-top: 5px;
        margin-bottom: 5px;
    }
}

#preloader_container{
    width: 100%;
    height: 100%;
    position: fixed;
    top:0;
    left:0;
}

#settings_container{
    position: fixed;
    z-index: 2000;
    bottom: 10px;
    left: 10px;
}

.hideOnLoad{
    pointer-events: none !important;
    opacity: 0 !important;
}