*{
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-decoration: none;
}

body{
    width: 100%;
    /* min-height: 150vh; */
    height: 100%;
    overflow: hidden;
    font-family: 'Inter', sans-serif;
    /* background-color: rgb(22, 22, 22); */
    background-color: #f5a123;
}

a{
    color: black;
    cursor: pointer;
    text-decoration: underline;
}

a:hover{
    opacity: 0.3;
}

.content{
    height: auto;
    position: relative;
    display: block;
}

.window{
    width: 300px;
    height: min-content;
    color: black;
    position: absolute;
    top: calc(50vh - 150px);
    left: calc(50vw - 150px);
    cursor: move;
}

.window h1, .window .cont{
    background-color: white;
    font-size: 1rem;
    padding: 20px;
    /* border:  1px solid rgb(224, 224, 224); */
    border: 1px solid black;
}

.window h1{
    transform: translateY(1px);
    padding: 10px 20px;
    font-weight: normal;
}

.window .closeWindow{
    position: absolute;
    right: 5px;
    top: 1px;
    width: 10px;
    height: 10px;
    padding: 15px;
    cursor: pointer;
}

#about{
    top: calc(50vh - 150px);
    left: calc(50vw - 150px);
    transform: rotate(1deg);
}

#work{
    top: calc(50vh - 150px);
    left: calc(50vw - 150px);
    transform: rotate(-1deg);
}

#contact{
    top: calc(50vh - 150px);
    left: calc(50vw - 150px);
    transform: rotate(2deg);
}

#hug{
    top: calc(50vh - 150px);
    left: calc(50vw - 100px);
    transform: rotate(-2deg);

    width: 175px;
    height: 250px;
    object-fit: cover;
    border: 1px solid black;
}

#easteregg{
    text-align: center;
    padding: 120px 0;
    cursor: default;
}