@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*{
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-decoration: none;
}

body{
    width: 100%;
    /* min-height: 150vh; */
    height: 100%;
    overflow: hidden;
    font-family: 'Inter', sans-serif;
    /* font-family: 'VT323', monospace; */
    /* font-family: 'Courier Prime', monospace; */
    /* background-color: rgb(22, 22, 22); */
    background-color: #f5a123;
}

a{
    color: black;
    cursor: pointer;
    text-decoration: underline;
}

a:hover{
    opacity: 0.3;
}

.content{
    height: auto;
    position: relative;
    display: block;
}

.window{
    width: 320px;
    height: max-content; 
    /* color: black; */
    color: rgb(30, 30, 30);
    position: absolute;
    top: calc(50vh - 160px);
    left: calc(50vw - 160px);
    cursor: grabbing;

    border-radius: 2.5px;

    -webkit-box-shadow: 0px 5px 20px -5px rgba(97,97,97,0.4); 
    box-shadow: 0px 5px 20px -5px rgba(97,97,97,0.4);
}

.window h1, .window .cont{
    background-color: white;
    font-size: 1rem;
    padding: 20px;
    /* border:  1px solid rgb(224, 224, 224); */
    /* border: 1.2px solid black; */
    border: 1.2px solid rgb(30, 30, 30);
}

.window .cont{
    border-radius: 0px 0px 2.5px 2.5px;
}

.window h1{
    transform: translateY(1.2px);
    padding: 10px 20px;
    font-weight: normal;

    border-radius: 2.5px 2.5px 0px 0px;
}

.window .closeWindow{
    position: absolute;
    right: 5px;
    top: 2.5px;
    width: 10px;
    height: 10px;
    padding: 15px;
    cursor: pointer;
}

#about{
    top: calc(50vh - 160px + 15px); 
    /* top: 110vh;  */
    left: calc(50vw - 160px);
    transform: rotate(2deg);
}

.windowTransition{
    transition: all 0.1s;
}

/* .aboutStart{
    top: calc(50vh - 160px + 15px) !important; 
    left: calc(50vw - 160px);
    transform: rotate(2deg);
} */

#work{
    top: calc(50vh - 160px);
    left: calc(50vw - 160px);
    transform: rotate(-2deg); 
}

#contact{
    top: calc(50vh - 160px);
    left: calc(50vw - 160px);
    transform: rotate(1deg);
}

#hug{
    top: calc(50vh - 160px + 5px);
    left: calc(50vw - 100px);
    transform: rotate(-2deg);

    width: 200px;
    height: 250px;
    object-fit: cover;
    border: 1px solid black;

    border-radius: 5px;
}

#easteregg{
    text-align: center;
    padding: 120px 0;
    margin: 0 87.5px;
    cursor: default;
    font-size: 0.8rem;
    width: 160px;
    text-align: center;

    -webkit-box-shadow: unset;
    box-shadow: unset;
}

#redo{
    position: absolute;
    padding: 10px;
    bottom: 10px;
    left: 10px;
    cursor: help;
    user-select: none;
    transition: all 0.2s ease-in-out;
    opacity: 1;
    font-weight: bolder;
}

.appendIn{
    top: 100vh;
    left: calc(50vw - 100px);
    transform: rotate(0);
}
