*{
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-decoration: none;
}

body{
    font-family: sans-serif;
    /* background-color: rgb(22, 22, 22); */
    background-color: rgb(253, 178, 65);
}

.content{
    height: auto;
}

.window{
    width: 300px;
    min-height: 500px;
    /* color: rgb(224, 224, 224); */
    color: black;
    position: absolute;
    /* background-color: rgb(22, 22, 22); */
    /* background-color: rgb(253, 178, 65); */

    top: calc(50vh - 250px);
    left: calc(50vw - 150px);

}

.window h1, .window .cont{
    background-color: white;
    font-size: 1rem;
    padding: 20px;
    /* border:  1px solid rgb(224, 224, 224); */
    border: 1px solid black;
}

.window h1{
    cursor: move;
    transform: translateY(1px);
    padding: 10px 20px;
}

.window h1::after{
    content: 'X';
    position: absolute;
    right: 15px;
}


#about{
    top: calc(50vh - 250px + 100px);
    left: calc(50vw - 150px - 50px);
}

#work{
    top: calc(50vh - 250px + 50px);
    left: calc(50vw - 150px - 25px);
}

#contact{

}